a, h1, p {
	color: #ccc;
}
strong {
	font-weight: bold;
}
.hidden {
	display: none
}
#animation_container {
	position: relative;
	height: 64px;
	width: 128px;
	margin: auto
}
#tnt {
	position: absolute;
	left: 32px;
	cursor: url("../image/404/flint_and_steel.png") 16 16, pointer
}
#diamond {
	position: absolute;
	left: 32px;
}
#explosion {
	position: absolute;
	top: -32px;
	left: 0
}
.foreground {
	background: rgba(0,0,0,0);
}
.background {
	background: #120E19 url(../image/background/the_end.jpg) no-repeat center;
}