.background {
	background: url(../image/background/bg_light_background.png) repeat
}
.foreground {
	background:
		url(../image/background/bg_light_transition_top.png) top repeat-x,
		url(../image/background/bg_light_transition_bottom.png) bottom repeat-x,
		url(../image/background/bg_dark_foreground.png) repeat
}
.placeholder {
	background: url(../image/home/placeholder_dark.png) center repeat;
	background-size: contain
}
.dropdown-menu {
	background-color: #1C1C1C
}
.dropdown-item {
	color: rgba(255, 255, 255, .7)
}
.dropdown-item:focus, .dropdown-item:hover {
	color: rgba(255, 255, 255, .7) !important;
	background-color: #141414 !important
}
ul, ol, li, h1, h2, h3, h4, h5, h6, p {
	color: rgba(255, 255, 255, .7)
}

.btn-flag {
	color: rgba(255, 255, 255, .7) !important
}

hr {
	border-top: 1px solid rgba(255, 255, 255, .5)
}