---
---

@import "./variables";

.background {
  background: #131313 url(../image/background/bg_dark_background.png) repeat
}
.foreground {
  background:
    #0C0C0C url(../image/background/bg_dark_foreground.png) repeat
}
.placeholder {
  background-image: url(https://database.faithfulpack.net/images/branding/logos/transparent/512/f32_logo.png), url(../image/background/bg_dark_foreground.png);
}
.card {
  background: #0C0C0C url(../image/background/bg_dark_background.png) repeat;
}
#topNavbar, #topNavbar.fixed {
  background: #0C0C0C url(../image/background/bg_dark_background.png) repeat !important;
}
.outline {
  background: #0C0C0C url(../image/background/bg_dark_background.png) !important;
}

.dropdown-menu {
  background-color: #1C1C1C
}
.dropdown-item {
  color: rgba(255, 255, 255, .7)
}
.dropdown-item:focus, .dropdown-item:hover {
  color: rgba(255, 255, 255, .7) !important;
  background-color: #141414 !important
}
ul, ol, li, h1, h2, h3, h4, h5, h6, p {
  color: rgba(255, 255, 255, .7)
}

.btn-flag {
  color: rgba(255, 255, 255, .7) !important
}

hr {
  border-top: 1px solid rgba(255, 255, 255, .1)
}

label, input {
  color: rgba(255, 255, 255, .7);
}

#SearchBar {
  color: #000;
}

.advice {
  color: rgba(255, 255, 255, .7);
}

/** CUSTOM SCROLLBAR */
::-webkit-scrollbar{
  background: #0E0E0E;
}
::-webkit-scrollbar-button, ::-webkit-scrollbar-thumb{
  background: #3E3E3E;
  border: 1px solid #0E0E0E;
}
::-webkit-scrollbar-button:hover, ::-webkit-scrollbar-thumb:hover{
  background: #575757
}
::-webkit-scrollbar-button:active, ::-webkit-scrollbar-thumb:active{
  background: #878787
}

.v-menu__content > * {
  background-color: #0C0C0C !important;
  & > * {
    color: rgba(255, 255, 255, .7) !important;
  }
}

.content-container h1 {
  color: rgba(255, 255, 255, .9);
}

.about-button {
  background: white;
  color: black;
}

.green {
  background: #0d0d0d url("/image/background/bg_light_background.png") repeat;
  background-blend-mode: screen;

  h1 {
    color: #76c944 !important;
  }
}

.blue {
  background: #0d0d0d url("/image/background/bg_light_background.png") repeat;
  background-blend-mode: screen;

  h1 {
    color: #5ebbf9 !important;
  }
}

.pink {
  background: #0d0d0d url("/image/background/bg_light_background.png") repeat;
  background-blend-mode: screen;

  h1 {
    color: #fc53a5 !important;
  }
}
