---
---

@import "./variables";

h2 {
	margin-top: 0.5rem;
}

.collapsible, .content {
	padding: .2rem;
	border-radius: $border-radius-0x;
	padding-left: .7rem;
	padding-right: .7rem;
}

.collapsible:hover, .content:hover {
	background-color: rgba(255, 255, 255, 0.1) !important;
}

.content {
	overflow: hidden;
	transition: 5 0.2s ease-out;
}
.content.active {
	display: table-row;
}

.outline {
	background: #131313 url(../image/background/bg_light_background.png) repeat;
	border-radius: $border-radius-0x;
	padding: .7rem;
	overflow-x: auto;
	margin-bottom: 2rem;
}

th > p, td > p {
	color: #ccc;
	padding: .2rem;
	margin-bottom: 0;
	vertical-align: middle;
}

th {
	text-align: center;
	width: calc(40% / 3);
}
th > p {
	font-size: 20px;
}
th.large {
	text-align: left;
	padding-left: .7rem;
	width: 50%
}
td {
	text-align: center;
	vertical-align: middle;
	width: calc(50% / 3);
}
td > p {
	font-size: 18px;
}
td.small {
	width: calc(50% / 6);
}
td.large {
	text-align: left;
	width: 45%
}
td.before {
	cursor: pointer;
	width: 5%
}
td.before-empty {
	width: 5%
}

thead > tr {
	padding: .2rem .7rem;
	margin-bottom: .7rem;
	background-color: #343A40;
	border-radius: $border-radius-1x;
	width: 100%;
}

table {
	border-collapse: collapse;
	width: 100%;
}

main span {
	padding: .2rem .4rem;
	border-radius: 3px;
}

.download-table span.link-text {
	padding: 0;
}

.mobile {
	display: none;
}

.download-table .toggle {
	user-select: none;
}

.btn-dl {
	padding: 0.1rem 0.4rem;
	width: 110px;
}

.btn-dl > i {
	font-size: small;
	margin-right: 8px;
}

.github {
	background-color: rgb(255, 255, 255);
	color: #111;
}

.latest {
	background-color: rgb(255, 255, 255);
	color: #111;
}

.blue {
	background-color: rgb(60, 111, 221);
	color: #fff;
}

.green {
	background-color: rgb(80, 202, 24);
	color: #111;
}

.yellow {
	background-color: rgb(214, 160, 23);
	color: #111;
}

.black {
	background-color: #000;
	color: #fff;
}

.version {
	background-color: rgb(192, 37, 68);
	color: #fff;
}

@media (max-width: 760px) {
	.outline {
		margin: 0;
		padding: 0;
	}

	br + br {
		display: none;
	}

	.mobile {
		display: block;
	}

	.download-table {
		&, tbody, tr {
			width: 100%;
			display: block;
		}

		span {
			padding: 0;
		}

		thead {
			display: none;
		}

		tr {
			display: block;
			padding: 0.25rem 0.5rem;
			display: flex;
			align-items: stretch;
			border-radius: 0;

			&:hover {
				background-color: transparent !important;
			}

			&:last-child {
				border-bottom: 0px none;
			}

			&.content.active {
				display: flex;
			}
		}

		td {
			p {
				padding: 0;
			}

			&.toggle {
				flex: 0 0 24px;
				padding: .2rem 0;
			}

			&.details {
				flex: 1 1 auto;
				padding: .2rem .4rem;

				span {
					padding: .2rem .4rem;
				}

				.name {
					display: block;
					padding: 0;
				}

				.date-mobile {
					display: block;
				}
			}

			&.size, &.date, &.desktop {
				display: none !important;
			}

			&.downloads {
				flex: 0 0 30px;
				width: auto;
				display: flex;
				flex-direction: column;
				justify-content: space-around;

				.btn-dl {
					width: 30px;
					height: 30px;
					line-height: 30px;
					text-align: center;
					padding: 0;

					i {
						display: block;
						height: 30px;
						line-height: 30px;
						margin-right: 0 !important;
					}
				}

				.link-text {
					display: none;
				}
			}
		}
	}
}

.darker > td {
	opacity: 75%;
}

.darker > p {
	opacity: 50%;
}

.download-badges > * {
	margin-right: 0.25rem;
}