---
---

@import "./variables";

.collapsible, .content {
	padding: .2rem;
	border-radius: $border-radius-0x;
	padding-left: .7rem;
	padding-right: .7rem;
}

.collapsible:hover, .content:hover {
	background-color: rgba(255, 255, 255, 0.1) !important;
}

.content {
	display: none;
	max-height: 0;
	overflow: hidden;
	transition: 5 0.2s ease-out;
}

.outline {
	background: #131313 url(../image/background/bg_light_background.png) repeat;
	border-radius: $border-radius-0x;
	padding: .7rem;
	overflow-x: auto;
	margin-bottom: 2rem;
}

th > p, td > p {
	color: #ccc;
	padding: .2rem;
	margin-bottom: 0;
	vertical-align: middle;
}

th {
	text-align: center;
	width: calc(40% / 3);
}
th > p {
	font-size: 20px;
}
th.large {
	text-align: left;
	padding-left: .7rem;
	width: 50%
}
td {
	text-align: center;
	vertical-align: middle;
	width: calc(50% / 3);
}
td > p {
	font-size: 18px;
}
td.small {
	width: calc(50% / 6);
}
td.large {
	text-align: left;
	width: 45%
}
td.before {
	cursor: pointer;
	width: 5%
}
td.before-empty {
	width: 5%
}

thead > tr {
	padding: .2rem .7rem;
	margin-bottom: .7rem;
	background-color: #343A40;
	border-radius: $border-radius-1x;
	width: 100%;
}

table {
	border-collapse: collapse;
	width: 100%;
}

span {
	padding: .2rem .4rem;
	border-radius: 3px;
}

.btn-dl {
	padding: 0.1rem 0.4rem;
	width: 90px;
}

.btn-dl > i {
	font-size: small;
}

.github {
	background-color: rgb(255, 255, 255);
	color: #111;
}

.latest {
	background-color: rgb(255, 255, 255);
	color: #111;
}

.blue {
	background-color: rgb(60, 111, 221);
	color: #fff;
}

.green {
	background-color: rgb(80, 202, 24);
	color: #111;
}

.yellow {
	background-color: rgb(214, 160, 23);
	color: #111;
}

.version {
	background-color: rgb(192, 37, 68);
	color: #fff;
}

.notfound {
	background: #131313 url(../image/gallery/transparent.png) repeat;
}


/** DOWNLOAD TABLES **/
/*
.table {
	background-color: #1c1c1c;
	color: #ccc;
	border-radius: $border-radius-1x;
	overflow: hidden
}
.table thead th {
	background-color: #343A40;
	border: 0
}
.table td {
	border-top: 1px solid #343A40
}
.table tbody+tbody {
	border: 0
}
.table-hover tbody tr:hover {
	color: #ccc;
	background-color: rgba(0,0,0,.15)
}
.btn-invisible {
	background-color: rgba(0,0,0,.25);
	padding: 5px;
	border-radius: $border-radius-1x;
	border: 1px #0000;
	color: #ccc;
}
.btn-invisible:hover {
	background-color: rgba(0,0,0,.75);
	color: #fff;
}
table {
	width: 100%
}
th:nth-child(1) {
	width: 32%
}
th:nth-child(2) {
	width: 20%
}
th:nth-child(3) {
	width: 28%
}
th:nth-child(4) {
	width: 10%
}

@media screen and (max-width: 480px) {
	th, td, tr {
		display: block
	}
	tr > th:nth-child(1), tr > th:nth-child(2), tr > th:nth-child(3) {
		width: 100%
	}
	th:nth-child(4) {
		display: none
	}
}
*/