.router-link-active {
  background-color: #343a80;
  border-color: #343a80;
}
.router-link-active:hover {
  background-color: #23276b;
  border-color: #1d2164;
}
.router-link-active:focus {
  background-color: #23276b;
  border-color: #1d2164;
}
