.router-link-active {
  background-color: #343a80;
  border-color: #343a80;
}
.router-link-active:hover {
  background-color: #23276b;
  border-color: #1d2164;
}
.router-link-active:focus {
  background-color: #23276b;
  border-color: #1d2164;
}
#SearchBar {
	background: #fff url(../image/css/search.svg) no-repeat;
	background-position: 10px 12px;
	width: 100%;
	font-size: 16px;
	padding: 12px 20px 12px 40px;
	border: 0
}
.gallery-item {
	position: relative;
	height: 0;
	padding-top: 100%;
	color: #fff;
	border-radius: var(--border-radius-2x);
	box-shadow: var(--card-shadow);
}
.gallery-item:hover > * {
	z-index: 3;
}
.gallery-item > img {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background: #000 url(../image/gallery/transparent.png) repeat;
	border-radius: var(--border-radius-1x);
	object-fit: contain;
}
.gallery-item > .fas {
	position: absolute;
	display: none;
	margin: var(--border-radius-1x);
	padding: var(--border-radius-1x);
	background: rgba(0, 0, 0, .5);
	color: #fff;
	border-radius: var(--border-radius-1x);
	text-shadow: var(--card-shadow);
	cursor: pointer;
}
.gallery-item:hover > .fas {
  display: block;
}
.fa-download {
	bottom: 0;
	left: 0;
}
.fa-expand {
	top: 0;
	right: 0;
}
.gallery-item > .info {
	display: none;
}
.gallery-item:hover > .info {
	position: absolute;
	top: calc(100% - 48px);
	width: 100%;
	display: block;
	padding: 3rem 1.5rem 1.5rem;
	border-radius: var(--border-radius-2x);
	background: #343a40;
	box-shadow: var(--card-shadow);
	z-index: 2;
}
.gallery-item:hover > .info > p {
	color: #fff;
	margin-top: 1rem;
	margin-bottom: 0;
}
.gallery-item:hover > .info > p.secondary {
	color: rgba(255, 255, 255, .7);
}
.modal-content > * {
  text-align: center;
  color: #fff;
}
.modal-content > img {
  display: block;
  width: 70%;
  height: auto;
  max-height: 70vh;
  max-width: 70vw;
  margin: auto;
  object-fit: contain;
}
