---
---

.router-link-active {
	background-color: #343a80;
	border-color: #343a80;
}
.router-link-active:hover {
	background-color: #23276b;
	border-color: #1d2164;
}
.router-link-active:focus {
	background-color: #23276b;
	border-color: #1d2164;
}

#SearchBar {
	background: #fff url(../image/css/search.svg) no-repeat;
	background-position: 10px 12px;
	width: 100%;
	font-size: 16px;
	padding: 12px 20px 12px 40px;
	border: 0
}
.gallery-item {
	position: relative;
	height: 0;
	padding-top: 100%;
	color: #fff;
	border-radius: var(--border-radius-2x);
	box-shadow: var(--card-shadow);
}
.gallery-item:hover > * {
	z-index: 3;
}
.gallery-item > div > img {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background: #000 url(../image/gallery/transparent.png) repeat;
	border-radius: var(--border-radius-0x);
	object-fit: contain;
}
.gallery-item > .fas {
	position: absolute;
	display: none;
	margin: var(--border-radius-1x);
	padding: var(--border-radius-1x);
	background: rgba(0, 0, 0, .5);
	color: #fff;
	border-radius: var(--border-radius-0x);
	text-shadow: var(--card-shadow);
	cursor: pointer;
}
.gallery-item:hover > .fas {
	display: block;
}
.fa-download {
	bottom: 0;
	left: 0;
}
.fa-expand {
	top: 0;
	right: 0;
}

.tooltip {
	margin-top: 10px;
	padding: .7rem;
}

.tooltip > p {
	margin-bottom: .25rem;
}

.popover, 
.popover-inverted, 
.popover-bottom {
	visibility: hidden;
	position: absolute;
	opacity: 0;
	background: rgba(16, 0, 16, .941);
	box-shadow: var(--card-shadow);
	border-style: solid;
	border-width: 2px;
	border-image: linear-gradient(180deg, rgba(80,0,255,.314), rgba(40,0,127,.314)) 1;
	padding: .7rem;
}

.popover {
	top: 0;
	width: 300px !important;
	left: 80%;
}

.popover-inverted {
	top: 0;
	width: 300px !important;
	right: 80%;
}

.popover-bottom {
	top: 80%;
	width: 150px !important;
}

.gallery-item:hover .popover, 
.gallery-item:hover .popover-inverted, 
.gallery-item:hover .popover-bottom {
	visibility: visible;
	z-index: 2;
	opacity: 1;
	transition: all .5s cubic-bezier(.75, 0, 0, 1);
}

.gallery-item:hover .popover {
	left: 105%;
}

.gallery-item:hover .popover-inverted {
	right: 105%;
}

.gallery-item:hover .popover-bottom {
	top: 105%;
}

.popover:before, .popover-inverted:before {
	position: absolute;
	z-index: -1;
}
.gallery-item:hover .popover:hover, 
.gallery-item:hover .popover-inverted:hover, 
.gallery-item:hover .popover-bottom:hover {
	visibility: hidden;
}
.gallery-item .popover > h5, 
.gallery-item .popover-inverted > h5, 
.gallery-item .popover-bottom > h5 {
	color: #fcfcfc;
	font-weight: 150;
}
.gallery-item .popover > p.empty, 
.gallery-item .popover-inverted > p.empty, 
.gallery-item .popover-bottom > p.empty {
	display: none;
}
.gallery-item .popover > p.full, 
.gallery-item .popover-inverted > p.full, 
.gallery-item .popover-bottom > p.full {
	color: #ccc;
	font-weight: 50;
	margin-bottom: .2rem;
}

.tooltip > p.full {
	color: #ccc;
	font-weight: 50;
	margin-bottom: .2rem;
}

.modal-content > * {
	text-align: center;
	color: #fff;
}

.modal-textures {
	margin: auto;
	display: flex;
	height: 80%;
	width: 100%;
}

.modal-img, .modal-animated {
	margin: auto;
}

.modal-img {
	object-fit: contain;
	height: 70vh !important;
	max-width: 50%;
}

.modal-animated {
	object-fit: contain;
	margin: auto 10px;
}

@media screen and (max-width: 360px) {
	.gallery-item .popover {
		width: auto !important;
		right: 0;
	}
	.res-grid-6 {
		grid-template-columns: repeat(1, 1fr);
	}
}
