---
---

@import "./variables";

.card-column {
  float: left;
  width: 30%;
  height: 450px;
  padding: 0 10px;
  margin-right: 1.5%;
  margin-left: 1.5%;
}

.card-row { margin: 30px -5px; }
.card-row:after {
  content: "";
  display: table;
  clear: both;
}

.centered {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  margin-top: 40px;
  width: 256px;
  height: 256px;
}

.btn-index {
  width: 45%;
}

@media screen and (max-width: 991px) {
  .centered {
    width: 128px;
    height: 128px;
  }

  .card > h1 {
    font-size: 2rem;
  }
}

.img-card > h3 {
  margin: 0;
  padding: 8px;
  background: linear-gradient(0deg, rgba(0,0,0,.3) 0%, rgba(0,0,0,0) 100%);
  width: 100%;
}

.img-card {
  max-width: 960px;
  max-height: 540px;
}

.poster {
  position: relative;
  display: inline;
}

.wordmark {
  position: absolute;
  top: 8%;
  right: 0;
  padding: 30px;
}

.discover {
  min-height: 420px;
}

.discover-secondary {
  min-height: 320px;
}

.discover-secondary > .card-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  > .btn-group {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
  }
}

.highlight-section {
  display: block;
  background-image: url(/image/banner/hero.jpg);
  background-size: cover;
  background-position: center;
  padding: 0 2rem 1px;

  #upspace {
    height: 80px;
  }

  .highlight-wordmark {
    margin-top: 50px;
    margin-bottom: 25px;
    filter: drop-shadow(0 0 10px #000);
    max-width: 100%;
  }

  h2 {
    color: #fff;
    text-shadow: rgba(0, 0, 0, 0.75) 0px 4px 10px;
  }
}

.discover .poster img:not(.wordmark) {
  height: 260px;
}

.discover-secondary .poster img:not(.wordmark) {
  height: 160px;
}

.discover .poster img:not(.wordmark), .discover-secondary .poster img:not(.wordmark) {
  width: 100%;
}

  @media (min-width: 576px) {
  #last-grid > * {
    max-width: 50%;
    justify-self: center;
    grid-column: span 2;
  }
}
