---
---

.flag {
	display: flex;
	text-align: center;

	> div {
		width: 40px;

		> img {
			height: 16px;
			vertical-align: text-top;
		}
	}
}

.dropdown-menu-right {
	right: 0;
	left: auto;
}

ol {
	list-style-position: outside;
}

.license-download {
  width: 75%;
  margin-right: auto;
  margin-left: auto
}
