---
---

/** LICENSE & COMMENTS POLICY **/
.flag {
	text-align: justify;
	vertical-align: middle;
	padding-left: 15px;
}
.flag > img {
	width: 32px;
	height: 16px;
}
.dropdown-menu-right {
	right: 0;
	left: auto;
}