/* Basic layout */
:root {
  --border-radius-1x: 12px;
  --border-radius-2x: 24px
}
html {
	overflow-x: hidden
}
footer {
	padding: 2rem 1rem;
	text-align: center;
}
header {
	min-height: 256px;
}
footer {
  color: rgba(255, 255, 255, .7);
}
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
  font-weight: 300
}
p {
	color: rgba(0, 0, 0, .6)
}

@media (min-width: 576px) {
	footer {
		padding: 4rem 2rem
	}
}

/** BACKGROUND **/
.background {
	background: url(../image/background/bg_light_background.png) repeat
}
.foreground {
	background:
		url(../image/background/bg_light_transition_top.png) top repeat-x,
		url(../image/background/bg_light_transition_bottom.png) bottom repeat-x,
		url(../image/background/bg_light_foreground.png) repeat
}

/** MAIN STUFF **/
.container {
	padding-top: 100px;
	padding-bottom: 100px
}
.placeholder {
	max-height: 10%;
	min-height: 200px;
	background: url(../image/home/placeholder.png) center repeat;
	background-size: contain
}
.right-reading {
	direction: rtl
}
.center {
	display: block;
	margin: auto !important
}
.clickable:hover {
	cursor: pointer
}
.disabled {
	pointer-events: none
}
@media screen and (max-width: 768px) {
	.display-3 {
		font-size: 2.25rem
	}
	.display-4 {
		font-size: 1.75rem
	}
}
@media screen and (min-width: 1000px) {
	.small-screen-warning {
		display: none
	}
}

/** FANCY CARDS **/
.card {
	background: #1C1C1C;
	border: 0px !important;
}
div.dropdown-menu {
	border: 0
}
img.fancy-card-2x {
	max-height: 24rem;
	object-fit: cover
}
.btn, .dropdown-menu, .fancy-card-1x, *.card, .fancy-card-2x {
	overflow: hidden;
	box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23)
}
.btn, .dropdown-menu, *.card *.card, .fancy-card-1x {
	border-radius: var(--border-radius-1x);
}
*.card, .fancy-card-2x {
	border-radius: var(--border-radius-2x);
}
.card-body > :first-child {
	margin-top: 0
}
.card-title {
	font-weight: 300;
	margin: 1rem 0 1.25rem;
	color: rgba(255, 255, 255, .7)
}
.card, .card p {
	color: rgba(255, 255, 255, .7)
}
.card-img-top {
	border-radius: var(--border-radius-2x);
	cursor: pointer;
	color: #000
}
#ScreenshotCarousel {
	background: #000
}

/** ADDONS / ADD-ONS **/
.display {
	font-weight: 300;
	line-height: 1.2
}

/** NAVBAR **/
.dropdown-menu-center {
	right: auto;
	left: auto
}
#topNavbar, #topCarousel {
	margin: 1rem 0
}
.custom-navbar-brand {
	display: none
}
@media screen and (min-width: 400px) {
	.custom-navbar-brand {
		display: inline-block;
		height: 40px;
		vertical-align: top;
		padding-right: 56px;
		margin: auto
	}
}
@media screen and (min-width: 576px) {
	.custom-navbar-brand {
		display: none
	}
}
#bottomNavbar {
	display: inline-block;
	width: auto;
	margin: auto
}

/** OWL CAROUSEL **/
/* Make the image fully responsive (owl carousel) */
.carousel-inner img {
	width: 100%;
	height: 100%
}
/* Carousel arrow hover animation */
.item img {
	margin: 0 auto
}
.item a img.img-fluid {
	transition: all .5s ease
}
#topCarousel .item a img.img-fluid:hover {
	transform: scale(1.1)
}

a > h4, a > h3 {
	margin-top: -45px;
	margin-left: 10px;
  color: rgba(255, 255, 255, .9);
  text-shadow: 0 3px 6px rgba(0,0,0,0.5);
  font-size: 1.5rem;
  font-weight: bold
}

/** BASIC CAROUSEL **/
/* Make the image fully responsive (carousel) */
.carousel-inner img {
	width: 100%;
	height: 100%
}
/* Carousel arrow hover animation */
.carousel-control-prev-icon, .carousel-control-next-icon {
	transition: all 1s ease
}
.carousel-control-prev:hover .carousel-control-prev-icon {
	margin-right: 25px
}
.carousel-control-next:hover .carousel-control-next-icon {
	margin-left: 25px
}

/** CUSTOM SCROLLBAR **/
::-webkit-scrollbar{
	width: 17px
}
::-webkit-scrollbar-button{
	height: 17px
}
::-webkit-scrollbar-track{
	background: #0E0E0E
}
::-webkit-scrollbar-button, ::-webkit-scrollbar-thumb{
	background: #3E3E3E;
	border: 2px solid #0E0E0E
}
::-webkit-scrollbar-button:hover, ::-webkit-scrollbar-thumb:hover{
	background: #575757
}
::-webkit-scrollbar-button:active, ::-webkit-scrollbar-thumb:active{
	background: #878787
}

/* NAVBAR */
@media (min-width: 800px) {
	.nav {
		text-align: center
	}
	.nav {
		display: inline-flex
	}
}
.nav-link {
	transition: all .1s ease-out;
}
@media screen and (min-width: 800px) {
	.nav-link:hover {
		transform: scale(0.95);
	}
}
.nav-link:hover {
	cursor: pointer
}

/** MODAL **/
.modal {
	display: none;
	position: fixed;
	z-index: 11;
	padding-top: 100px;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: rgb(0,0,0);
	background-color: rgba(0,0,0,.7)
}
.modal-content {
	margin: auto;
	display: block;
	width: 70%;
	max-width: 700px;
	animation-name: zoom;
	animation-duration: 0.6s
}

/* Add Animation */
.modal-content, .caption {
	-webkit-animation-name: zoom;
	-webkit-animation-duration: 0.6s;
	animation-name: zoom;
	animation-duration: 0.6s
}

@keyframes zoom {
	from {transform:scale(0)}
	to {transform:scale(1)}
}

/* The Close Button */
.close {
	position: absolute;
	top: 15px;
	right: 35px;
	color: #f1f1f1;
	font-size: 40px;
	font-weight: bold;
	transition: 0.3s
}

.close:hover,
.close:focus {
	color: #bbb;
	text-decoration: none;
	cursor: pointer
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
	.modal-content {
		width: 100%
	}
}

/* make images not draggable and rendering pixelated (so block textures aren't getting blurred) */
img[src$=".png"] {
	image-rendering: pixelated;
	image-rendering: -moz-crisp-edges;
	image-rendering: -o-crisp-edges;
	-ms-interpolation-mode: nearest-neighbor;
	-webkit-user-drag: none;
	-khtml-user-drag: none;
	-moz-user-drag: none;
	-o-user-drag: none;
	user-drag: none
}

img[src$=".gif"] {
	image-rendering: pixelated;
	image-rendering: -moz-crisp-edges;
	image-rendering: -o-crisp-edges;
	-ms-interpolation-mode: nearest-neighbor;
	-webkit-user-drag: none;
	-khtml-user-drag: none;
	-moz-user-drag: none;
	-o-user-drag: none;
	user-drag: none
}
