---
---

/* Versions btn for small screen */
@media (max-width: 777px) {
	.btn-group {
		flex-direction: column;
		justify-content: center
	}

	#bottomButtons .btn {
		display: block;
		width: 100%
	}

	#bottomButtons {
		margin-right: 0;
		margin-bottom: 8px
	}
}

input[type=checkbox], input[type=radio], label {
	cursor: pointer
}

.fa-info-circle {
	margin-left: -5px
}

input[type=radio] + label {
	border-radius: var(--border-radius-0x);
	border: 1px solid rgba(255, 255, 255, .7);
	padding: 2px 8px
}

input[type=radio]:checked + label {
	background-color: var(--primary);
	border-color: var(--primary);
	color: white
}

.modNotChosen input[type=radio]:checked + label {
	background-color: transparent;
	border: 1px solid rgba(255, 255, 255, .7);
	color: white
}

#zipOptions ::-webkit-input-placeholder {
	font-style: italic
}
#zipOptions :-moz-placeholder {
	font-style: italic
}
#zipOptions ::-moz-placeholder {
	font-style: italic
}
#zipOptions :-ms-input-placeholder {
	font-style: italic
}

#zipOptions #archiveName.empty {
	background: #ccc
}

.customModalBackground {
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	background: rgba(0,0,0,0.5)
}

.customModal {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	padding: 10px;
	z-index: 3000;
	text-align: center
}

.customModal > * {
	display: inline-block;
	vertical-align: middle
}

.customModal > span.taille {
	height: 100%
}

.customModal .customModalContent {
	background: #232323;
	color: rgba(255, 255, 255, .9);
	border-radius: var(--border-radius-0x);
	box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
	width: 600px;
	max-width: 100%;
	max-height: 100%;
	overflow: auto;
	text-align: left;
	position: relative
}

.customModal p {
  color: rgba(255, 255, 255, .7)
}

#downloadModalContent #steps {
  display: flex;
	align-items: center
}

#downloadModalContent #steps .btn-dark {
	height: 2.2rem;
	width: 2.2rem;
	padding-top: 0;
	padding-bottom: 0
}

#downloadModalContent #steps .line {
	height: 1px;
	background-color: lightgray;
  flex: 1
}

#downloadModalContent #logs {
	background: #171717;
	height: 300px;
	overflow-x: auto;
	overflow-y: scroll
}

.progress {
	background-color: #232323
}
.progress-bar,
#downloadModalContent #zipProgressBar > * {
	background-color: var(--primary)
}
#downloadModalContent #zipProgressBar > * {
	transition: unset
}

#logs .log {
	height: 24px;
	line-height: 24px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis
}

#logs .log:nth-child(even) {
	background-color: rgba(0,0,0,0.2)
}

#logs .log.error {
	background-color: rgba(255,25,25, 0.5)
}

.modal-header {
	border-bottom: 1px solid #2D2E32
}
.modal-footer {
	border-top: 1px solid #2D2E32
}

#SearchBar {
	background-image: url(/image/css/search.svg);
	background-position: 10px 12px;
	background-repeat: no-repeat;
	width: 100%;
	font-size: 16px;
	padding: 12px 20px 12px 40px;
	border: 0
}

#SearchBar + .advice {
	line-height: 20px;
	min-height: 20px
}

.advice {
	margin: 1px 0 0;
	font-size: 0.75em;
	opacity: 0.75;
}

.modNotChosen {
	opacity: 0.7
}

.version > * {
	display: inline-block;
	vertical-align: middle
}

/* Mod bar */
.search-bar-container {
	padding: 1.25rem 1.25rem .625rem
}
#noresults {
	padding: 0 1.25rem
}
.mod-ul {
	padding: 0
}
.mod-bar {
	position: relative;
	display: flex;
	padding: .625rem 1.25rem
}
.mod-bar:hover {
	background: rgba(127, 127, 127, .08)
}
.selected-mod {
	background: rgba(127, 127, 127, .16)
}
.selected-mod:hover {
	background: rgba(127, 127, 127, .24)
}
.mod-label {
	position: absolute;
	display: block;
	margin: 0;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	z-index: 1;
	font-size: 0
}
.mod-bar-item {
	margin-right: 1.25rem
}
.mod-img {
	width: 65px;
	height: 65px;
	background: center/contain url('../image/icon/compliance_mods_transparent.png') no-repeat;
	image-rendering: pixelated;
	border-radius: var(--border-radius-0x);
	flex: none
}
.selected-mod .mod-img-overlay {
	width: 100%;
	height: 100%;
	border-radius: var(--border-radius-1x);
	background: rgba(0, 123, 255, 0.64) center/75% url('../image/css/checked.svg') no-repeat
}
.mod-checkbox {
	display: none;
}
label.mod-radio {
	margin-right: .25rem;
}
.mod-radio {
	vertical-align: middle;
	margin-left: 5px;
}
.mod-info, .selected-mod .mod-radio-group {
	position: relative;
	z-index: 2
}
.badge {
	border-radius: var(--border-radius-0x) !important;
}
.advice-subtitle {
	font-size: 100%;
}
.advice-important {
	color:rgb(175, 24, 24);
}

/** MODPACKS **\
\**          **/

#modpacks .card .card-image {
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center center
}

#modpacks .card .card-title {
	min-height: 80px
}

#modpacks #modpackModal {
	z-index: 1200
}

#modpacks #modpackModal #modList {
	max-height: 400px;
	overflow: auto;
	background: rgba(0,0,0,.35)
}

#modpacks #modpackModal #modList ul {
	font-size: .8em;
	list-style-type: none;
	padding-left: 0;
	padding-right: 0;
	margin-bottom: 0
}
