---
---

.no-js {
  display: none;
}
.tns-outer .no-js {
  display: block;
}
.tns-outer [data-action] {
  display: none;
}
.tns-nav {
  text-align: center;
}
.tns-nav > button {
  height: 20px;
  width: 24px;
  background: none;
  padding: 0;
  border: 0;
}
.tns-nav > button::after {
  display: block;
  width: 10px;
  height: 10px;
  margin: auto;
  background: #D6D6D6;
  border-radius: 50%;
  content: '';
}
.tns-nav > button.tns-nav-active::after {
  background: #869791;
}

.tns-outer {
  width: 80px;
}
