---
---

#snowflakeContainer {
	position: absolute;
	left: 0;
	top: 0;
	display: none;
}

.card-body {
	background:
		url(../image/background/snow_overlay.png), url(../image/background/bg_light_background.png) top center repeat-x;
	background-position: top center;
	background-color: #131313, #131313;
	background-repeat: repeat-x, repeat;
	> :first-child:not(img) {
		margin-top: 30px !important;
	}
}

.btn {
	border: 0 !important;
	padding-top: 15px;
	background-image: url(../image/background/snow_overlay_small.png);
	background-position: top center;
	background-repeat: repeat-x;
}

.btn-dl {
	background-size: 20% auto;
}

.snowflake0, .snowflake1, .snowflake2, .snowflake3 {
	position: fixed;
	image-rendering: pixelated;
	user-select: none;
	z-index: 1000;
	pointer-events: none;
	border-radius: 50%;
	width: 16px;
	height: 16px;
}

.snowflake0 {
	background: url(../image/background/snow0.png) no-repeat center;
	background-size: contain;
}

.snowflake1 {
	background: url(../image/background/snow1.png) no-repeat center;
	background-size: contain;
}

.snowflake2 {
	background: url(../image/background/snow2.png) no-repeat center;
	background-size: contain;
}

.snowflake3 {
	background: url(../image/background/snow3.png) no-repeat center;
	background-size: contain;
}
