#snowflakeContainer {
  position: absolute;
  left: 0px;
  top: 0px;
  display: none;
}

.snowflake0 {
  position: fixed;

  background: 
    url(../image/background/snow0.png);
  background-size: cover;
  image-rendering: pixelated;


  user-select: none;
  z-index: 1000;
  pointer-events: none;
  border-radius: 50%;
  width: 16px;
  height: 16px;
}

.snowflake1 {
  position: fixed;

  background: 
    url(../image/background/snow1.png);
  background-size: cover;
  image-rendering: pixelated;


  user-select: none;
  z-index: 1000;
  pointer-events: none;
  border-radius: 50%;
  width: 16px;
  height: 16px;
}

.snowflake2 {
  position: fixed;

  background: 
    url(../image/background/snow2.png);
  background-size: cover;
  image-rendering: pixelated;


  user-select: none;
  z-index: 1000;
  pointer-events: none;
  border-radius: 50%;
  width: 16px;
  height: 16px;
}

.snowflake3 {
  position: fixed;

  background: 
    url(../image/background/snow3.png);
  background-size: cover;
  image-rendering: pixelated;


  user-select: none;
  z-index: 1000;
  pointer-events: none;
  border-radius: 50%;
  width: 16px;
  height: 16px;
}