{
	"semi": true,
	"trailingComma": "all",
	"singleQuote": false,
	"printWidth": 100,
	"useTabs": true,
	"bracketSpacing": true,
	"arrowParens": "always",
	"parser": "typescript",
	"overrides": [
		{ "files": ["*.vue", "*.html"], "options": { "parser": "vue" } }
	]
}