---
layout: default
title: Add-Ons
---
<h2 class="display-4 my-5 text-center">Java 32x</h2>
<div class="card card-body">
  <div class="res-grid-3">
  	{% assign counter = 0 %}
  	{% include matching_articles.html search_string='addons/compliance32x/' %}
  </div>
  {% if counter != 0 %}
  <a class="btn btn-lg block btn-dark mt-4" href="{{ site.baseurl }}/addons32x">See More</a>
  {% else %}
  <p class="text-center">Coming soon!</p>
  {% endif %}
</div>

<h2 class="display-4 my-5 text-center">Java 64x</h2>
<div class="card card-body">
  <div class="res-grid-3">
  	{% assign counter = 0 %}
  	{% include matching_articles.html search_string='addons/compliance64x/' %}
  </div>
  {% if counter != 0 %}
	<a class="btn btn-lg block btn-dark mt-4" href="{{ site.baseurl }}/addons64x">See More</a>
  {% else %}
  <p class="text-center">Coming soon!</p>
  {% endif %}
</div>

<h2 class="display-4 my-5 text-center">Bedrock 32x</h2>
<div class="card card-body">
  <div class="res-grid-3">
  	{% assign counter = 0 %}
  	{% include matching_articles.html search_string='addons/compliance32xBedrock/' %}
  </div>
  {% if counter != 0 %}
	<a class="btn btn-lg block btn-dark mt-4" href="{{ site.baseurl }}/addons32xBedrock">See More</a>
  {% else %}
  <p class="text-center">Coming soon!</p>
  {% endif %}
</div>

<h2 class="display-4 my-5 text-center">Bedrock 64x</h2>
<div class="card card-body">
  <div class="res-grid-3">
  	{% assign counter = 0 %}
  	{% include matching_articles.html search_string='addons/compliance64xBedrock/' %}
  </div>
  {% if counter != 0 %}
	<a class="btn btn-lg block btn-dark mt-4" href="{{ site.baseurl }}/addons64xBedrock">See More</a>
  {% else %}
  <p class="text-center">Coming soon!</p>
  {% endif %}
</div>
