---
layout: default
title: Home
---

<link rel="stylesheet" href="{{ site.baseurl }}/css/index.css">

<h1 align="center">Discover Compliance</h1><br>
<div class="res-grid-3">
  <div class="card">
    <img class="centered" src="{{ site.baseurl }}/image/home/poster_32.png" alt="Compliance 32x">
	<img class="centeredlogo" src="{{ site.baseurl }}/image/home/c32.png" alt="Compliance 32x"><br>
	<h7 align="center">A double resolution texture pack that stays true to the original Minecraft textures.</h7><br>
    <p align="center">
      <a class="btn btn-dark btn-index" href="{{ site.baseurl }}/compliance32x/latest">See More</a>
    </p>
  </div>
  <div class="card">
    <img class="centered" src="{{ site.baseurl }}/image/home/poster_64.png" alt="Compliance 64x">
	<img class="centeredlogo" src="{{ site.baseurl }}/image/home/c64.png" alt="Compliance 32x"><br>
	<h7 align="center">A texture pack that quadruples the resolution of Minecraft's default textures.</h7><br>
    <p align="center">
      <a class="btn btn-dark btn-index" href="{{ site.baseurl }}/compliance64x/latest">See More</a>
    </p>
  </div>
  <div class="card">
    <img class="centered" src="{{ site.baseurl }}/image/home/poster_dungeons.png" alt="Compliance Dungeons">
	<img class="centeredlogo" src="{{ site.baseurl }}/image/home/cdun.png" alt="Compliance 32x"><br>
	<h7 align="center">A mod for Minecraft Dungeons that doubles the resolution of textures.</h7><br>
    <p align="center">
      <a class="btn btn-dark btn-index" href="{{ site.baseurl }}/compliance32xDungeons/latest">See More</a>
    </p>
  </div>
</div>

<br>

<p class="purple banner">
  Join <strong><a href="https://discord.gg/sN9YRQbBv7">our Discord</a></strong> now and contribute to the project!
</p>

<hr>
<br>
<h1 align="center">Add-Ons</h1>
<div class="res-grid-4">
  {% for page in site.pages %}
  {% if page.path contains 'addons/' %}
  
  <a class="card img-card addon" href="{{ site.baseurl }}{{ page.url }}">
    <img src="{{ site.baseurl }}/image/{{ page.header-img }}" alt="{{ page.title }}">
    <h3>{{ page.title }}</h3>
  </a>

  {% endif %}
  {% endfor %}
  <a class="card img-card" rel="noopener" href="{{ site.baseurl }}/addons">
    <img src="{{ site.baseurl }}/image/home/see_more.png" loading="lazy" alt="See more" style="background: #0000 !important;">
    <h3>See More</h3>
  </a>

  <script>
    var array = document.getElementsByClassName("addon")
    while (array.length > 3) {
      var index = Math.floor(Math.random() * array.length)
      array[index].parentNode.removeChild(array[index])
      array = document.getElementsByClassName("addon")
    }
  </script>
</div>

<hr>
<br>
<h1 align="center">Compliance News</h1>

<div class="res-grid-3">
  {%- for post in site.posts -%}
    <a class="card img-card" rel="noopener" href="{{ site.baseurl }}{{ post.permalink }}">
      <img src="{{ site.baseurl }}/image/{{ post.header-img }}" loading="lazy" alt="{{ image.basename }}">
      <h3>{{ post.title }}</h3>
    </a>
  {%- endfor -%}
</div>
