---
layout: default
title: Home
no_container: true
---

<link rel="stylesheet" href="/css/home.css">

<!-- outside of container, goes to edge of screen -->
<div class="hero-container text-center">
  <div id="upspace"></div>
  <img class="hero-wordmark" src="/image/home/wordmark.png" alt="Faithful Wordmark">
  <h2 class="hero-tagline">Providing a higher-resolution experience since 2010.</h2>
  <!-- hack to get the button the same width as the container -->
  <div class="container py-3">
    <a href="https://discord.gg/sN9YRQbBv7">
      <p class="blurple banner">
        Join our Discord now and contribute to the project!
      </p>
    </a>
  </div>
</div>
<div class="container" id="app">
  <h2 class="display-3 mb-4 text-center">Projects</h2>
  <div class="res-grid-2">
    <project-card
      name="Faithful 32x"
      background="/image/home/poster_32.jpg"
      wordmark="/image/home/f32.png"
      description="The original Minecraft texture feel, with double the resolution and double the fun!"
    >
      <template #btns>
        <a class="btn block btn-dark" href="/faithful32x">See More</a>
      </template>
    </project-card>
    <project-card
      name="Faithful 64x"
      background="/image/home/poster_64.jpg"
      wordmark="/image/home/f64.png"
      description="An even more detailed experience with quadruple-resolution textures!"
    >
      <template #btns>
        <a class="btn block btn-dark" href="/faithful64x">See More</a>
      </template>
    </project-card>
  </div>

  <br>

  <div class="res-grid-2">
    <project-card
      name="Classic Faithful 32x"
      background="/image/home/poster_cf32.jpg"
      wordmark="/image/home/cf32.png"
      description="The older yet refreshed look of Faithful, for when you need that nostalgic hit!"
    >
      <template #btns>
        <div class="button-row">
          <a class="btn btn-dark" href="/classicfaithful/32x-jappa">New Textures (Jappa)</a>
          <a class="btn btn-dark" href="/classicfaithful/32x-programmer-art">Old Textures (PA)</a>
        </div>
      </template>
    </project-card>
    <project-card
      name="Classic Faithful 64x"
      background="/image/home/poster_cf64.jpg"
      wordmark="/image/home/cf64.png"
      description="The traditional Faithful style with fully refreshed and ultra high-resolution textures!"
    >
      <template #btns>
        <div class="button-row">
          <a class="btn block btn-dark" href="/classicfaithful/64x-jappa">New Textures (Jappa)</a>
          <a class="btn block btn-dark disabled" href="/classicfaithful/64x-programmer-art">Coming Soon...</a>
      </div>
      </template>
    </project-card>
  </div>
<!--
  <br>
  <div class="res-grid-2">
    <project-card
      name="Faithful Add-ons"
      background="/image/home/poster_addons.jpg"
      wordmark="/image/home/addons.png"
      description="A plethora of modifications to all our base packs, ranging from redstone utilities to a rainbow XP bar!"
    >
      <template #btns>
        <a class="btn block btn-dark" href="/addons">Discover Add-ons</a>
      </template>
    </project-card>
    <project-card
      name="Faithful Mods"
      background="/image/home/poster_mods.jpg"
      wordmark="/image/home/mods.png"
      description="A massive catalog of mods and modpack support for retaining the Faithful feel however you choose to play!"
    >
      <template #btns>
        <div class="btn-group">
          <a class="btn block btn-dark" href="/mods">Mods</a>
          <a class="btn block btn-dark" href="/modpacks">Modpacks</a>
        </div>
      </template>
    </project-card>
  </div>
  -->

  <hr>

  <h2 class="display-3 text-center">Add-ons</h2>
  <div class="res-grid-4">
    <addon-card v-for="(addon, i) in addons" :key="addon.id" :addon minimal></addon-card>
    <article-card href="/addons" image="/image/home/see_more.png" title="See More"></article-card>
  </div>

  <hr>

  <h2 class="display-3 text-center">News</h2>
  <div class="res-grid-3">
    <!-- no self-closing tags in html -->
    <article-card
      v-for="post in topPosts"
      :key="post.id"
      :href="post.permalink"
      :image="post.header_img"
      :title="post.title"
    >
    </article-card>
  </div>
  <br>
  <a class="btn btn-dark news-button center" href="/news">See More</a>
</div>

<script>
  document.addEventListener("DOMContentLoaded", () => {
    const app = Vue.createApp({
      components: {
        ProjectCard: Vue.defineAsyncComponent(() => import("/js/home/project-card.js")),
        ArticleCard: Vue.defineAsyncComponent(() => import("/js/components/article-card.js")),
        AddonCard: Vue.defineAsyncComponent(() => import("/js/addons/addon-card.js")),
      },
      data() {
        return {
          addons: [],
          NB_ITEMS: 3,
          LOADING_ID: "loading",
          posts: [],
        };
      },
      computed: {
        topPosts() {
          if (!this.posts.length) return [];
          return this.posts.slice(0, 6);
        }
      },
      created() {
        fetch('https://api.faithfulpack.net/v2/addons/approved')
          .then((res) => res.json())
          .then((val) => {
            const res = []

            let items = val
            for (let i = 0; i < this.NB_ITEMS; i++) {
              // splice removes element from list and returns the retrieved elements
              // removes duplicate suggested add-ons
              const element = items.splice((Math.random() * items.length) | 0, 1)[0]
              res.push(element)
            }
            this.addons = res
          })
          .catch((err) => {
            console.error(err)
            this.addons = []
          });

        fetch('https://api.faithfulpack.net/v2/posts/approved')
          .then((res) => res.json())
          .then((res) => {
            this.posts = Object.values(res).sort((a, b) => new Date(b.date) - new Date(a.date));
          })
          .catch((err) => console.error(err));
      }
    });
    app.mount("#app");
  })
</script>
