---
layout: default
title: Modpacks
---

<link rel="stylesheet" href="{{ site.baseurl }}/css/mods.css">

<div id="modpacks">
  <broken-page></broken-page>
  <zip-options></zip-options>

  <local-download ref="localDownload" canPack="true"></local-download>

  <modpack-modal id="modpackModal" :modpack="currentModpack" :modpackmodalopened="modpackModalOpened" :onclose="function() { modpackModalOpened = false }" :mods="mods"></modpack-modal>

    <div class="card mb-4">
      <div class="search-bar-container">
        <input id="SearchBar" class="fancy-card-1x" type="text" placeholder="Search for modpacks, modpack version or Minecraft version..." title="Type something" v-model="form.search">
        <div class="advice" v-text="searchAdvice"></div>
      </div>
    </div>

    <div class="res-grid-4">
      <modpack-card v-for="(m, mindex) in filteredModpacks" :key="mindex" :modpack="m" :onbuttonclick="function(){ openModpackModal(mindex)  }"></modpack-card>
    </div>

    <h3 v-if='filteredModpacks.length == 0' id="noresults" class="text-center"></h3>
  </div>
</div>

<script src="https://unpkg.com/retry-axios@2.4.0/dist/index.umd.js"></script>
<script defer src="js/mods/core/MinecraftUtils.js"></script>
<script defer src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.min.js"></script>
<script defer src="js/mods/components/customModal.js"></script>
<script defer src="js/mods/components/modpackModal.js"></script>
<script defer src="js/mods/components/modpackCard.js"></script>
<script defer src="js/mods/components/brokenPage.js"></script>
<script defer src="js/axios.min.js"></script>
<script defer src="https://cdn.jsdelivr.net/npm/idb@6.1.5/build/iife/index-min.js"></script>
<script defer src="js/mods/components/clearDatabase.js"></script>
<script defer src="js/mods/components/zipOptions.js"></script>
<script defer src="https://cdn.jsdelivr.net/npm/moment@2.29.1/moment.min.js"></script>
<script defer src="js/mods/core/ResourcePackCreator.js"></script>
<script defer src="js/mods/FileSaver.min.js"></script>
<script defer src="js/mods/components/localDownload.js"></script>

<script defer src="js/mods/modpacks.js"></script>
