---
layout: default
title: Mods
---

<link rel="stylesheet" href="{{ site.baseurl }}/css/mods.css">
<div id="app">
	<a id="target" style="display: none"></a>

  <zip-options></zip-options>

  <hr>

  <h2 class="display-4 my-5 text-center">Download All Textures for Version</h2>

  <div class="card">
    <div class="card-body">
      <minecraft-versions :versions="minecraftVersions" :breakpoints="breakpoints"></minecraft-versions>
    </div>
  </div>

  <hr>

  <h2 class="display-4 my-5 text-center">Put Together Your Own Pack</h2>

  <local-download ref="localDownload" :canpack="canPackMods"></local-download>

  <template v-if="isMounted">
    <button id="DownloadLocally" :disabled="$refs.localDownload.canDownloadLocally" class="btn block btn-lg btn-primary fancy-card-2x" v-on:click="$refs.localDownload.openConfirmModal(undefined)">Download Resource Pack</button>
    <div v-if="modSelection.length != 0 && $refs.localDownload.canDownloadLocally" class="advice advice-subtitle advice-important text-center">The versions you have selected are not compatible</div>
		<div v-if="modSelection.length == 0" class="advice advice-subtitle text-center">Please select the packs you want with a matching pack version first</div>
  </template>

  <br>

  <div class="card">
    <div class="search-bar-container">
      <input id="SearchBar" class="fancy-card-1x" type="text" placeholder="Search for mods or Minecraft version..." title="Type something" v-model="form.search">
      <div class="advice" v-text="searchAdvice"></div>
    </div>

    <h3 v-if='filteredMods.length == 0' id="noresults" class="text-center" v-html="emptyTable"></h3>

    <minecraft-mod-list :mods="filteredMods"></minecraft-mod-list>
  </div>
</div>

<script defer src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.min.js"></script>
<script defer src="js/mods/polyfill.js"></script>
<script defer src="js/ajax.js"></script>
<script defer src="js/mods/extensionjs.js"></script>
<script defer src="js/mods/downloadFile.js"></script>
<script defer src="js/axios.min.js"></script>
<script defer src="js/mods/jszip.min.js"></script>
<script defer src="js/mods/FileSaver.min.js"></script>
<script defer src="https://cdn.jsdelivr.net/npm/idb@6.1.5/build/iife/index-min.js"></script>
<script defer src="https://cdn.jsdelivr.net/npm/moment@2.29.1/moment.min.js"></script>
<script defer src="js/mods/core/MinecraftUtils.js"></script>
<script defer src="js/mods/core/ResourcePackCreator.js"></script>
<script defer src="js/mods/components/clearDatabase.js"></script>
<script defer src="js/mods/components/zipOptions.js"></script>
<script defer src="js/mods/components/customModal.js"></script>
<script defer src="js/mods/components/localDownload.js"></script>
<script defer src="js/mods/components/mods/minecraftVersions.js"></script>
<script defer src="js/mods/components/mods/downloadMinecraftVersion.js"></script>
<script defer src="js/mods/components/mods/minecraftMod.js"></script>
<script defer src="js/mods/components/mods/minecraftModsList.js"></script>
<script defer src="js/mods/mods.js"></script>