---
layout: default
title: News
---

<h1 class="display-3 my-5 text-center">Faithful News</h1>

{% raw %}
<div id="news">
  <h3 v-if="loading" class="text-center">Loading…</h3>
  <h3
    v-else-if="!posts.length"
    class="text-center"
  >
    {{ error ? `Error: ${error}` : "No posts found" }}
  </h3>
  <div v-else class="grid-2-wide pb-5">
    <a :href="firstPost.permalink">
      <img
        class="card hovering-effect"
        :src="firstPost.header_img || 'https://database.faithfulpack.net/images/website/posts/placeholder.jpg'"
        loading="lazy"
      >
    </a>
    <div class="flex-down">
      <a :href="firstPost.permalink" class="underline-hover">
        <h1>{{ firstPost.title }}</h1>
      </a>
      <p class="text-truncate">{{ firstPost.description }}</p>
      <a class="btn block btn-dark" :href="firstPost.permalink">Read More</a>
    </div>
  </div>
  <hr>
  <div class="res-grid-3">
    <a
      v-for="post in restPosts"
      class="card img-card"
      rel="noopener"
      :href="'' + post.permalink"
    >
      <img v-if="post.header_img" :src="post.header_img" loading="lazy">
      <img
        v-else
        src="https://database.faithfulpack.net/images/website/posts/placeholder.jpg"
        loading="lazy"
      >
      <h3>{{ post.title }}</h3>
    </a>
  </div>
</div>
{% endraw %}

<script>
  const MAX_DESCRIPTION_LENGTH = 270;
  document.addEventListener("DOMContentLoaded", () => {
    const app = Vue.createApp({
      data() {
        return {
          posts: [],
          loading: true,
          error: null,
        };
      },
      computed: {
        firstPost() {
          return this.posts[0];
        },
        restPosts() {
          if (!this.posts) return [];
          return this.posts.slice(1);
        },
      },
      created() {
        fetch('https://api.faithfulpack.net/v2/posts/approved')
          .then((res) => res.json())
          .then((res) => {
            this.posts = Object.values(res).sort((a, b) => new Date(b.date) - new Date(a.date));
          })
          .catch((err) => {
            this.error = err;
            this.posts = [];
            console.error(err)
          })
          .finally(() => {
            this.loading = false;
          });
      }
    });
    app.mount("#news");
  })
</script>
