---
layout: default
title: Statistics
---

<div id="stats" class="text-center">
	<h1 class="display-3 my-5">Compliance Statistics</h1>

	<h2 class="display-4 my-5">Main Pack</h2>
	<div class="res-grid-2">
		<h3>32x Releases</h3>
		<h3><span class="badge badge-primary h1">{{ site.posts | where_exp:"item", "item.url contains 'compliance32x/'" | size }}</span></h3>
		<h3>64x Releases</h3>
		<h3><span class="badge badge-primary h1">{{ site.posts | where_exp:"item", "item.url contains 'compliance64x/'" | size }}</span></h3>
	</div>

	<h2 class="display-4 my-5">Add-Ons</h2>
	<div v-if="Object.keys(addonsStats).length === 0 && addons !== undefined" v-html="loadingMessage"></div>
	<div id="stats-addons" class="res-grid-2">
		<template v-for="res in Object.keys(addonsStats)" :key="res">
			<div v-for="edi, e_i in Object.keys(addonsStats[res])" :key="edi">
				<h3><span v-text="res + ' ' + edi + ' Add-Ons'"></span><div class="badge-container"><span class="badge badge-primary h1" v-text="addonsStats[res][edi]"></span></div></h3>
			</div>
		</template>
	</div>

	<h2 class="display-4 my-5">Mods</h2>
	<div v-if="loading" v-html="loadingMessage"></div>

	<div class="res-grid-3">
		<div v-for="(mKey, index) in keys" :key="index">
			<h3 v-text="messages[mKey]"></h3>
			<h3><span class="badge badge-primary h1" v-text="$data[mKey]"></span></h3>
		</div>
	</div>

</div>

<script defer src="/js/ajax.js"></script>
<script defer src="/js/axios.min.js"></script>
<script defer src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.min.js"></script>
<script defer src="/js/stats.js"></script>