---
layout: default
title: Statistics
---

{% raw %}
<div id="stats" class="text-center">
	<h1 class="display-3 my-5">Faithful Statistics</h1>
	<h2 class="display-4 my-5">Main Packs</h2>
	<div class="res-grid-2">
		<h3>32x Releases</h3>
		<h3><span class="badge badge-primary h1">{{ postStats.f32 }}</span></h3>
		<h3>64x Releases</h3>
		<h3><span class="badge badge-primary h1">{{ postStats.f64 }}</span></h3>
	</div>

	<h2 class="display-4 my-5">Add-ons</h2>
	<div v-if="Object.keys(addonsStats).length === 0 && addons !== undefined" v-html="loadingMessage"></div>
	<div id="stats-addons" class="res-grid-2">
		<template v-for="res in Object.keys(addonsStats)" :key="res">
			<div v-for="edi, e_i in Object.keys(addonsStats[res])" :key="edi">
				<h3>
					<span>{{ `${res} ${edi} Add-ons` }}</span>
					<div class="badge-container">
						<span class="badge badge-primary h1">{{ addonsStats[res][edi] }}</span>
					</div>
				</h3>
			</div>
		</template>
	</div>

	<h2 class="display-4 my-5">Mods</h2>
	<div v-if="loading" v-html="loadingMessage"></div>

	<div class="res-grid-3">
		<div v-for="(mKey, index) in keys" :key="index">
			<h3>{{ messages[mKey] }}</h3>
			<h3><span class="badge badge-primary h1">{{ $data[mKey] }}</span></h3>
		</div>
	</div>
</div>
{% endraw %}

<script defer src="/js/stats.js"></script>