<div class="custom-navbar-wrapper navbar-gallery">
	<nav class="custom-navbar navbar navbar-expand-lg navbar-dark">
		<span class="navbar-brand">
			<img src="{{ site.baseurl }}/image/gallery/{{ page.nav-img }}" width="30" height="30" class="d-inline-block align-top" alt="">
			{{ page.title }}
		</span>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleSubNavbar" aria-label="Menu">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="collapsibleSubNavbar">
			<ul class="navbar-nav">
				<li class="nav-item">
					<a class="nav-link" href="{{ site.baseurl }}/gallery/dungeons/blocks">Blocks</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="{{ site.baseurl }}/gallery/dungeons/components">Components</a>
				</li>
				<li>
					<a class="nav-link" href="{{ site.baseurl }}/gallery/dungeons/decor">Decor</a>
				</li>
				<li>
					<a class="nav-link" href="{{ site.baseurl }}/gallery/dungeons/effects">Effects</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="{{ site.baseurl }}/gallery/dungeons/entities">Entities</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="{{ site.baseurl }}/gallery/dungeons/equipments">Equipments</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="{{ site.baseurl }}/gallery/dungeons/items">Items</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="{{ site.baseurl }}/gallery/dungeons/materials">Materials</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="{{ site.baseurl }}/gallery/dungeons/ui">UI</a>
				</li>
				<li class="nav-item">
					<a class="nav-link active" href="{{ site.baseurl }}/gallery/dungeons/animated">Animated</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="{{ site.baseurl }}/gallery/dungeons/others">Others</a>
				</li> 
			</ul>
		</div>  
	</nav>
</div>