<!-- navbar styles also included -->

<link rel="stylesheet" href="/css/components/footer.css">

<footer>
	<div id="shadow"></div>
	<div class="container footer-wrapper">
		<div class="footer-column footer-main">
			<a href="/">
				<img
					class="footer-wordmark"
					src="/image/home/wordmark.png"
					loading="lazy"
					alt="Faithful Wordmark"
				>
			</a>
			<span id="theme-btn" onclick="cycleTheme()" class="nav-link">
				<i class="fas"></i> Auto Theme
			</span>
			<a href="mailto:contact@faithfulpack.net">
				contact@faithfulpack.net
			</a>
			<p class="footer-info-text">
				&copy; {{ site.time | date: '%Y' }} Faithful Resource Pack
			</p>
		</div>
		<div class="footer-container">
			<div class="footer-column">
				<h3 class="footer-title"><i class="fas"></i> Info</h3>
				<a
					class="nav-link"
					href="/license"
				>
					License
				</a>
				<a
					class="nav-link"
					href="/privacy"
				>
					Privacy Policy
				</a>
				<a
					class="nav-link"
					href="/stats"
				>
					Statistics
				</a>
				<a
					class="nav-link"
					href="https://translate.faithfulpack.net"
					target="_blank"
				>
					Translate
				</a>
				<a
					class="nav-link"
					href="https://docs.faithfulpack.net/pages/manuals/branding-guidelines"
					target="_blank"
				>
					Branding
				</a>
			</div>
			<div class="footer-column">
				<h3 class="footer-title"><i class="fas"></i> Listings</h3>
				<a
					class="nav-link"
					href="https://www.curseforge.com/members/faithful_resource_pack/projects"
					target="_blank"
				>
					CurseForge
				</a>
				<a
					class="nav-link"
					href="https://modrinth.com/user/Faithful-Resource-Pack"
					target="_blank"
				>
					Modrinth
				</a>
				<a
					class="nav-link"
					href="https://www.planetminecraft.com/member/faithful_resource_pack"
					target="_blank"
				>
					Planet Minecraft
				</a>
				<a
					class="nav-link"
					href="https://mcpedl.com/user/faithful-resource-pack"
					target="_blank"
				>
					MCPEDL
				</a>
				<a
					class="nav-link"
					href="https://github.com/Faithful-Resource-Pack"
					target="_blank"
				>
					GitHub
				</a>
			</div>
			<div class="footer-column">
				<h3 class="footer-title"><i class="fas"></i> Media</h3>
				<a
					class="nav-link"
					href="https://twitter.com/faithfulpack"
					target="_blank"
				>
					Twitter
				</a>
				<a
					class="nav-link"
					href="https://bsky.app/profile/faithfulpack.net"
					target="_blank"
				>
					Bluesky
				</a>
				<a
					class="nav-link"
					href="https://reddit.com/r/faithfulpack"
					target="_blank"
				>
					Reddit
				</a>
				<a
					class="nav-link"
					href="https://discord.gg/sN9YRQbBv7"
					target="_blank"
				>
					Discord
				</a>
				<a
					class="nav-link"
					href="https://discord.gg/KSEhCVtg4J"
					target="_blank"
				>
					CF Discord
				</a>
			</div>
			<div class="footer-column">
				<h3 class="footer-title"><i class="fas"></i> Resources</h3>
				<a
					class="nav-link"
					href="/faq"
				>
					FAQ
				</a>
				<a
					class="nav-link"
					href="https://docs.faithfulpack.net"
					target="_blank"
				>
					Docs
				</a>
				<a
					class="nav-link"
					href="https://status.faithfulpack.net"
					target="_blank"
				>
					Status
				</a>
				<a
					class="nav-link"
					href="/gallery"
				>
					Gallery
				</a>
				<a
					class="nav-link"
					href="https://docs.faithfulpack.net/pages/manuals/contributor-handbook"
					target="_blank"
				>
					Contributing
				</a>
			</div>
		</div>
	</div>
	<small class="footer-info-text">
		NOT AN OFFICIAL MINECRAFT PRODUCT. NOT APPROVED BY OR ASSOCIATED WITH MOJANG OR MICROSOFT
	</small>
</footer>
