<head>
	<meta charset="utf-8">
	<title>Compliance - {{ page.title }}</title>
	<meta name="description" content="Compliance, a default-style 32x and 64x resource pack for Minecraft Java, Bedrock and Dungeons." />
	<meta name="keywords" content="Minecraft Dungeons, Compliance, Minecraft Java, Minecraft Bedrock, Resource Pack, Mods">
	<meta name="theme-color" content="#76C945">

	<link rel="icon" href="{{ site.baseurl }}/favicon.ico">
	<link rel="icon" type="image/x-icon" href="{{ site.baseurl }}/favicon.ico" />
	<link rel="shortcut icon" type="image/x-icon" href="{{ site.baseurl }}/favicon.ico" />
	<link rel="apple-touch-icon" href="{{ site.baseurl }}/apple-touch-icon.png"/>
	<meta property="og:image" content="{{ site.baseurl }}/image/home/logo_og.png" />
	<meta property="twitter:image" content="{{ site.baseurl }}/image/home/logo_twitter.png" />
	<meta name="twitter:card" content="summary_large_image">

	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link rel="stylesheet" href="{{ site.baseurl }}/css/bootstrap.min.css">
	<link rel="stylesheet" href="{{ site.baseurl }}/css/owl.carousel.css">
	<link rel="stylesheet" href="{{ site.baseurl }}/css/owl.theme.default.min.css">
	<link rel="stylesheet" href="{{ site.baseurl }}/css/main.css">

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
	<script src="{{ site.baseurl }}/js/owl.carousel.js"></script>
  <script src="{{ site.baseurl }}/js/owl.addons.js" ></script>

	<!-- Font awesome icons -->
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
</head>