<header>
	<!-- carousel of others websites -->
	<div id="topCarousel" class="owl-carousel owl-theme background-top">
		<div class="item">
			<a href="{{ site.baseurl }}/#compliance-32x" title="Compliance">
				<img src="{{ site.baseurl }}/image/icon/compliance_32x.png" style="width: 128px; height: 128px;" class="img-fluid" alt="Compliance Dungeons">
			</a>
		</div>
		<div class="item">
			<a href="{{ site.baseurl }}/#compliance-64x" title="Compliance 64x">
				<img src="{{ site.baseurl }}/image/icon/compliance_64x.png" style="width: 128px; height: 128px;" class="img-fluid" alt="Compliance 64x">
			</a>
		</div>
		<div class="item">
			<a href="{{ site.baseurl }}/addons" title="Compliance Add-Ons">
				<img src="{{ site.baseurl }}/image/icon/compliance_addons.png" style="width: 128px; height: 128px;" class="img-fluid" alt="Compliance Add-Ons">
			</a>
		</div>
		<div class="item">
			<a href="https://faithful-dungeons.github.io/Website/" rel="noopener" title="Compliance Dungeons">
				<img src="{{ site.baseurl }}/image/icon/compliance_dungeons.png" style="width: 128px; height: 128px;" class="img-fluid" alt="Compliance Dungeons">
			</a>
		</div>
		<div class="item">
			<a href="{{ site.baseurl }}/mods" title="Compliance Mods">
				<img src="{{ site.baseurl }}/image/icon/compliance_mods.png" style="width: 128px; height: 128px;" class="img-fluid" alt="Compliance Mods">
			</a>
		</div>
		<div class="item">
			<a href="https://faithfultweaks.com/" rel="noopener" title="Compliance Tweaks">
				<img src="{{ site.baseurl }}/image/icon/compliance_tweaks.png" style="width: 128px; height: 128px;" class="img-fluid" alt="Compliance Tweaks">
			</a>
		</div>
	</div>
	
	<!-- navigation bar -->
	<div class="custom-navbar-wrapper">
		<nav class="custom-navbar navbar navbar-expand-sm navbar-dark" id="topNavbar">
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar" aria-label="Menu">
				<span class="navbar-toggler-icon"></span>
			</button>
	    <img src="{{site.baseurl}}/image/home/logo.png" class="custom-navbar-brand" alt="Compliance">

			<div class="collapse navbar-collapse justify-content-center" id="collapsibleNavbar">
				<ul class="navbar-nav">
					<li class="nav-item">
						<a class="nav-link" href="{{ site.baseurl }}/">
							<i style="margin-right: 5px" class="fas fa-home"></i>
							Home
						</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="{{ site.baseurl }}/download">
							<i style="margin-right: 5px" class="fas fa-angle-double-down"></i>
							Downloads
						</a>
					</li>
					<li class="nav-item">
						<span class="nav-link dropdown-toggle" id="navbardrop" data-toggle="dropdown">
							<i style="margin-right: 5px" class="fas fa-plus"></i>
							Add-Ons
						</span>
						<div class="dropdown-menu dropdown-menu-center">
							<a class="dropdown-item" href="{{ site.baseurl }}/addons32x">32x Add-Ons</a>
							<a class="dropdown-item" href="{{ site.baseurl }}/addons64x">64x Add-Ons</a>
							<a class="dropdown-item" href="{{ site.baseurl }}/addons32xBedrock">Bedrock 32x Add-Ons</a>
							<a class="dropdown-item" href="{{ site.baseurl }}/addons64xBedrock">Bedrock 64x Add-Ons</a>
						</div>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="{{ site.baseurl }}/mods">
							<i style="margin-right: 5px" class="fas fa-wrench"></i>
							Mods
						</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="{{ site.baseurl }}/modpacks">
							<i style="margin-right: 5px" class="fas fa-cube"></i>
							Modpacks
						</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="{{ site.baseurl }}/gallery">
							<i style="margin-right: 5px" class="fas fa-image"></i>
							Gallery
						</a>
					</li>
				</ul>
			</div>
		</nav>
	</div>
</header>