<link rel="stylesheet" href="/css/components/navbar.css">

<header>
	<nav class="navbar-wrapper">
		<a class="nav-mobile-wordmark" href="/" title="Faithful">
			<img
				src="/image/wordmarks/navbar.png"
				style="height: 32px"
				alt="Faithful Wordmark"
				loading="lazy"
			>
		</a>

		<button
			class="navbar-toggler"
			type="button"
			onclick="document.getElementById('collapsable-navbar').classList.toggle('show')"
			aria-label="Menu"
		>
			<i class="fas navbar-toggler-icon"></i>
		</button>

		<ul class="navbar-container" id="collapsable-navbar">
			<li class="nav-item">
				<a class="nav-link" href="/">
					<i class="fas"></i> Home
				</a>
			</li>

			<li class="nav-item">
				<a class="nav-link" href="/downloads">
					<i class="fas"></i> Downloads
				</a>
			</li>

			<li class="nav-item">
				<a class="nav-link" href="/addons">
					<i class="fas"></i> Add-ons
				</a>
			</li>

			<li>
				<a href="/" title="Faithful">
					<img
						class="navbar-logo-img"
						src="https://database.faithfulpack.net/images/branding/logos/transparent/hd/main_logo.png?w=128"
						alt="Faithful Logo"
						loading="lazy"
					>
				</a>
			</li>

			<li class="nav-item">
				<a class="nav-link" href="/news">
					<i class="fas"></i> News
				</a>
			</li>

			<li class="nav-item">
				<a class="nav-link" href="https://webapp.faithfulpack.net/" target="_blank" rel="noopener noreferrer">
					<i class="fas"></i> Web App
				</a>
			</li>

			<li class="nav-item">
				<a class="nav-link" href="/about">
					<i class="fas"></i> About
				</a>
			</li>
		</ul>
	</nav>
</header>
