a, h1, p {
	color: #ccc;
}
strong {
	font-weight: bold;
}
.hidden {
	display: none;
}
#animation_container {
	position: relative;
	height: 64px;
	width: 128px;
	margin: 100px auto 50px;
}
#tnt {
	position: absolute;
	left: 32px;
	cursor: url("https://api.faithfulpack.net/v2/textures/1521/url/faithful_32x/latest") 16 16, pointer;
	image-rendering: pixelated;
	width: 64px;
	height: 64px;
}
#diamond {
	position: absolute;
	image-rendering: pixelated;
	left: 32px;
	width: 64px;
	height: 64px;
}
#explosion {
	position: absolute;
	left: 32px;
}
.foreground {
	background: transparent;
}
.background {
	background: #120e19 url(/image/background/the_end.jpg) no-repeat center;
}
header {
	box-shadow: none;
	background: none !important;
}
