@use "./lib/variables" as *;

// force lower specificity so page-specific styles don't break
:where(.dark-theme) {
	&.background {
		background: #131313 url("/image/background/bg_dark_background.png") repeat;
	}
	.foreground {
		background: #0c0c0c url("/image/background/bg_dark_foreground.png") repeat;
	}
	.card, .download-table-padding, header {
		background: #0c0c0c url("/image/background/bg_dark_background.png") repeat;
	}

	ul, ol, li, h1, h2, h3, h4, h5, h6, p {
		color: rgba(255, 255, 255, 0.7);
		text-decoration-color: currentColor;
	}

	.underline-hover:hover {
		text-decoration-color: rgba(255, 255, 255, 0.7) !important;
	}

	.btn-flag {
		color: rgba(255, 255, 255, 0.7) !important;
	}

	label, input {
		color: rgba(255, 255, 255, 0.7);
	}

	.v-menu__content > * {
		background-color: #0c0c0c !important;
		& > * {
			color: rgba(255, 255, 255, 0.7) !important;
		}
	}

	.about-container h1 {
		color: rgba(255, 255, 255, 0.9);
	}

	// vuetify 3 theming is a bit broken and this fixes most of the issues
	.v-input__control {
		color: #fff !important;
	}

	// about page stuff
	.about-button {
		background: white !important;
		color: black;
	}

	.green-background, .blue-background, .pink-background {
		background: #0d0d0d url("/image/background/bg_light_background.png") repeat;
		background-blend-mode: screen;
	}

	.green-background .about-title {
		color: $about-green-light !important;
	}

	.blue-background .about-title {
		color: $about-blue-light !important;
	}

	.pink-background .about-title {
		color: $about-pink-light !important;
	}
}
