.error-theme {
	h1, p {
		color: #ccc;
	}
	.foreground {
		background: transparent;
	}
	.background {
		background: #120e19 url("/image/background/the_end.jpg") no-repeat center;
	}
	header {
		box-shadow: none !important;
		background: none !important;
	}
	footer #shadow {
		display: none;
	}
	// fix for tnt showing too high
	.container {
		padding-bottom: 0px;
	}
}
