@use "./lib/variables" as *;

// force lower specificity so page-specific styles don't break
:where(.light-theme) {
	.background {
		background: #303030 url("/image/background/bg_light_background.png") repeat;
	}
	.foreground {
		background: #e5e5e5 url("/image/background/bg_light_foreground.png") repeat;
	}
	.card, .download-table-padding, header {
		background: #303030 url("/image/background/bg_light_background.png") repeat;
	}

	label, input {
		color: #212529;
	}

	.v-list-item--highlighted > .v-list-item__content > .v-list-item__title {
		color: $primary;
	}

	// about page stuff
	.about-button {
		background: black;
		color: white;
		&:hover {
			// dark preserves blue hover effect, override it here
			color: white !important;
		}
	}

	.green-background, .blue-background, .pink-background {
		background-blend-mode: multiply;
		// only use white with a colored background, else use normal text color
		.about-title {
			color: #fff;
		}
	}

	.green-background {
		background: $about-green-dark url("/image/background/bg_light_foreground.png") repeat;
	}

	.blue-background {
		background: $about-blue-dark url("/image/background/bg_light_foreground.png") repeat;
	}

	.pink-background {
		background: $about-pink-dark url("/image/background/bg_light_foreground.png") repeat;
	}
}
