.download-badge, .download-type {
	padding: .2rem .4rem;
}

.download-type {
	aspect-ratio: 1 !important;
	border-radius: 50%;
}

.download-badge {
	border-radius: 3px;
}

.download-badges > * {
	margin-right: 0.3rem;
}

.github {
	background-color: rgb(255, 255, 255);
	color: #111;
}

.latest {
	background-color: #fff;
	color: #111;
}

.version {
	background-color: #343a40;
	color: #fff;
}

.green {
	background-color: rgb(80, 202, 24);
	color: #111;
}

.yellow {
	background-color: rgb(214, 160, 23);
	color: #111;
}

.black {
	background-color: #000;
	color: #fff;
}

.red {
	background-color: rgb(223, 28, 67);
	color: #fff;
}

.blue {
	background-color: rgb(44, 139, 222);
	color: #fff;
}
