---
---

// container for left column and the others for better wrapping
.footer-wrapper {
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	gap: 2rem;
	// override container class (we only need the side padding from it)
	padding-bottom: 1rem !important;
	padding-top: 1rem !important;
}

// container for each column of links
.footer-container {
	flex-grow: 1;
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	align-items: stretch;
	gap: 2rem;
}

.footer-column {
	max-width: 240px;
	display: flex;
	flex-flow: column nowrap;
	flex-grow: 1;
	align-items: flex-start;
	list-style: none;
}

.footer-main {
	justify-content: space-between;
}

#theme-btn {
	padding: 1.5rem 0px;
	font-size: 1.5rem;
	// align-self: center;
}

.footer-wordmark {
	padding: 5px;
	// same scaling time/amount as navbar logo
	transition: all 0.5s;
	&:hover {
		transform: scale(1.1);
	}
}

.footer-info-text {
	color: rgba(255, 255, 255, 0.5);
	padding: 0.25rem 0;
	margin: 0;
}

.footer-title {
	color: rgba(255, 255, 255, 0.7);
	// fix for icons being too big
	display: flex;
	align-items: center;
}

.footer-title > i {
	// scale down icons a bit
	margin-right: 1rem;
	font-size: 24px;
	text-align: center;
}

@media screen and (max-width: 576px) {
	// set everything to centered columns on mobile
	.footer-wrapper, .footer-container {
		flex-flow: column wrap;
		align-items: center;
	}

	.footer-column {
		align-items: center;
	}
}
