@use "dark.scss";
@import url("https://database.faithfulpack.net/fonts/FaithfulFont/stylesheet.css");

body {
	margin: 0;
	background-color: rgba(0, 0, 0, 0.5);
	min-height: 100vh;
}

*,
*::before,
*::after {
	box-sizing: border-box;
	font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans,
		sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
	font-family: "Faithful 32x";
}

h1, h2, .h1, .h2 {
	font-weight: 600; // Semibold
}

h3, h4, h5, h6, .h3, .h4, .h5, .h6 {
	font-weight: normal;
}

.bold {
	font-weight: bold;
}

.semibold {
	font-weight: 600;
}

.regular, .normal {
	font-weight: normal;
}

a {
	text-decoration: none;
	color: $primary;
	&:hover {
		color: $primary-hover;
	}

	&.subbed {
		color: inherit;
		text-decoration: underline;
	}
}

.noselect {
	@include noselect();
}

.link {
	color: $primary !important;
}
.link:hover, .link:focus {
	color: $primary-hover !important;
}

.svelte-fa {
	width: 1em;
}

h3 > .svelte-fa {
	margin-right: 0.5em;
}

button > .svelte-fa {
	width: 100%;
	height: 100% !important;
}

button:enabled {
	cursor: pointer;
	color: $text-dark-bg;

	&:hover {
		background: rgba(255, 255, 255, .05);
		-webkit-backdrop-filter: blur(20px);
		backdrop-filter: blur(20px);
	}

	&:focus {
		animation: btn_clicked 200ms;
	}
}

.title-image {
	height: 100px;
	filter: drop-shadow(0 0 7px rgba(0,0,0,0.6));
	margin-right: 0.5rem;
}
.title {
	font-size: 3.4rem;
	margin: 2rem 0;
}

.mobile {
	display: none;

	@media (max-width: $width-XS) {
		display: initial;
	}
}

.display-3 {
	font-size:4.8rem;
	font-weight:300;
	line-height:1.2
}
.display-4 {
	font-size:3.5rem;
	font-weight:300;
	line-height:1.2
}

.m-0 {
	margin: 0 !important
}

.mt-0,
.my-0 {
	margin-top: 0 !important
}

.mr-0,
.mx-0 {
	margin-right: 0 !important
}

.mb-0,
.my-0 {
	margin-bottom: 0 !important
}

.ml-0,
.mx-0 {
	margin-left: 0 !important
}

.m-1 {
	margin: 0.25rem !important
}

.mt-1,
.my-1 {
	margin-top: 0.25rem !important
}

.mr-1,
.mx-1 {
	margin-right: 0.25rem !important
}

.mb-1,
.my-1 {
	margin-bottom: 0.25rem !important
}

.ml-1,
.mx-1 {
	margin-left: 0.25rem !important
}

.m-2 {
	margin: 0.5rem !important
}

.mt-2,
.my-2 {
	margin-top: 0.5rem !important
}

.mr-2,
.mx-2 {
	margin-right: 0.5rem !important
}

.mb-2,
.my-2 {
	margin-bottom: 0.5rem !important
}

.ml-2,
.mx-2 {
	margin-left: 0.5rem !important
}

.m-3 {
	margin: 1rem !important
}

.mt-3,
.my-3 {
	margin-top: 1rem !important
}

.mr-3,
.mx-3 {
	margin-right: 1rem !important
}

.mb-3,
.my-3 {
	margin-bottom: 1rem !important
}

.ml-3,
.mx-3 {
	margin-left: 1rem !important
}

.m-4 {
	margin: 1.5rem !important
}

.mt-4,
.my-4 {
	margin-top: 1.5rem !important
}

.mr-4,
.mx-4 {
	margin-right: 1.5rem !important
}

.mb-4,
.my-4 {
	margin-bottom: 1.5rem !important
}

.ml-4,
.mx-4 {
	margin-left: 1.5rem !important
}

.m-5 {
	margin: 3rem !important
}

.mt-5,
.my-5 {
	margin-top: 3rem !important
}

.mr-5,
.mx-5 {
	margin-right: 3rem !important
}

.mb-5,
.my-5 {
	margin-bottom: 3rem !important
}

.ml-5,
.mx-5 {
	margin-left: 3rem !important
}

.p-0 {
	padding: 0 !important
}

.pt-0,
.py-0 {
	padding-top: 0 !important
}

.pr-0,
.px-0 {
	padding-right: 0 !important
}

.pb-0,
.py-0 {
	padding-bottom: 0 !important
}

.pl-0,
.px-0 {
	padding-left: 0 !important
}

.p-1 {
	padding: 0.25rem !important
}

.pt-1,
.py-1 {
	padding-top: 0.25rem !important
}

.pr-1,
.px-1 {
	padding-right: 0.25rem !important
}

.pb-1,
.py-1 {
	padding-bottom: 0.25rem !important
}

.pl-1,
.px-1 {
	padding-left: 0.25rem !important
}

.p-2 {
	padding: 0.5rem !important
}

.pt-2,
.py-2 {
	padding-top: 0.5rem !important
}

.pr-2,
.px-2 {
	padding-right: 0.5rem !important
}

.pb-2,
.py-2 {
	padding-bottom: 0.5rem !important
}

.pl-2,
.px-2 {
	padding-left: 0.5rem !important
}

.p-3 {
	padding: 1rem !important
}

.pt-3,
.py-3 {
	padding-top: 1rem !important
}

.pr-3,
.px-3 {
	padding-right: 1rem !important
}

.pb-3,
.py-3 {
	padding-bottom: 1rem !important
}

.pl-3,
.px-3 {
	padding-left: 1rem !important
}

.p-4 {
	padding: 1.5rem !important
}

.pt-4,
.py-4 {
	padding-top: 1.5rem !important
}

.pr-4,
.px-4 {
	padding-right: 1.5rem !important
}

.pb-4,
.py-4 {
	padding-bottom: 1.5rem !important
}

.pl-4,
.px-4 {
	padding-left: 1.5rem !important
}

.p-5 {
	padding: 3rem !important
}

.pt-5,
.py-5 {
	padding-top: 3rem !important
}

.pr-5,
.px-5 {
	padding-right: 3rem !important
}

.pb-5,
.py-5 {
	padding-bottom: 3rem !important
}

.pl-5,
.px-5 {
	padding-left: 3rem !important
}

.m-n1 {
	margin: -0.25rem !important
}

.mt-n1,
.my-n1 {
	margin-top: -0.25rem !important
}

.mr-n1,
.mx-n1 {
	margin-right: -0.25rem !important
}

.mb-n1,
.my-n1 {
	margin-bottom: -0.25rem !important
}

.ml-n1,
.mx-n1 {
	margin-left: -0.25rem !important
}

.m-n2 {
	margin: -0.5rem !important
}

.mt-n2,
.my-n2 {
	margin-top: -0.5rem !important
}

.mr-n2,
.mx-n2 {
	margin-right: -0.5rem !important
}

.mb-n2,
.my-n2 {
	margin-bottom: -0.5rem !important
}

.ml-n2,
.mx-n2 {
	margin-left: -0.5rem !important
}

.m-n3 {
	margin: -1rem !important
}

.mt-n3,
.my-n3 {
	margin-top: -1rem !important
}

.mr-n3,
.mx-n3 {
	margin-right: -1rem !important
}

.mb-n3,
.my-n3 {
	margin-bottom: -1rem !important
}

.ml-n3,
.mx-n3 {
	margin-left: -1rem !important
}

.m-n4 {
	margin: -1.5rem !important
}

.mt-n4,
.my-n4 {
	margin-top: -1.5rem !important
}

.mr-n4,
.mx-n4 {
	margin-right: -1.5rem !important
}

.mb-n4,
.my-n4 {
	margin-bottom: -1.5rem !important
}

.ml-n4,
.mx-n4 {
	margin-left: -1.5rem !important
}

.m-n5 {
	margin: -3rem !important
}

.mt-n5,
.my-n5 {
	margin-top: -3rem !important
}

.mr-n5,
.mx-n5 {
	margin-right: -3rem !important
}

.mb-n5,
.my-n5 {
	margin-bottom: -3rem !important
}

.ml-n5,
.mx-n5 {
	margin-left: -3rem !important
}

button:disabled {
	cursor: not-allowed;
	color: $text-half-dark-bg;
}

.res-grid-6, .res-grid-4, .res-grid-3, .res-grid-2 {
	display: grid;
	grid-gap: 1.5rem;
	grid-template-columns: repeat(1, 1fr);
}

@mixin grid_shrink {
	@media only screen and (max-width: 992px) {
		grid-template-columns: repeat(2, 2fr);
	}
	@media only screen and (max-width: 600px) {
		grid-template-columns: repeat(1, 1fr);
	}
}

.res-grid-4 {
	grid-template-columns: repeat(4, 4fr);

	@media only screen and (max-width: 1100px) {
		grid-template-columns: repeat(3, 3fr);
	}

	@include grid_shrink();
}

.res-grid-3 {
	grid-template-columns: repeat(3, 3fr);

	@include grid_shrink();
}

.res-grid-2 {
	grid-template-columns: repeat(2, 2fr);

	@include grid_shrink();
}

.img-card {
	max-width: 960px;
	max-height: 540px;
}
.img-card {
	position: relative;
	height: 0;
	padding-top: 56.25%;
}
.img-card > img:first-of-type, .placeholder {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	transition: all .5s;
	background: #000;
}
.card, .card p, .card > h2 > a {
	color: rgba(255,255,255,0.7);
}
.card, .fancy-card-2x {
	border-radius: $border-radius;
}
.card {
	position: relative;
	display: flex;
	flex-direction: column;
	min-width: 0;
	word-wrap: break-word;
	background-clip: border-box;
}
.card-body {
	flex: 1 1 auto;
	min-height: 1px;
	padding: 1.25rem;
}
.card-body-thin {
	padding: 0.8rem;
}
.img-card > .img-bottom {
	position: absolute;
	left: 0;
	bottom: 0;
}
.img-card > h3 {
	position: absolute;
	bottom: 0;
}
.img-card h3 {
	margin: 8px;
	color: rgba(255,255,255,0.9);
	text-shadow: 0 3px 6px rgba(0,0,0,0.16),0 3px 6px rgba(0,0,0,0.23);
	font-size: 1.5rem;
	font-weight: 500;
}
.img-card > img:first-of-type:hover {
	transform: scale(1.1);
	filter: brightness(110%);
}
.img-card > img:hover {
	cursor: pointer;
}

.col-6 {
	width: 49%;
}
.btn, .dropdown-menu, .fancy-card-1x, .card, .fancy-card-2x {
	overflow: hidden;
	box-shadow: 0 3px 6px rgba(0,0,0,0.16),0 3px 6px rgba(0,0,0,0.23);
}
.btn {
	display: inline-block;
	font-weight: 400;
	color: #212529;
	text-align: center;
	vertical-align: middle;
	user-select: none;
	background-color: transparent;
	border: 1px solid transparent;
	border-top-color: transparent;
	border-right-color: transparent;
	border-bottom-color: transparent;
	border-left-color: transparent;
	padding: 0.375rem 0.75rem;
	font-size: 1rem;
	line-height: 1.5;
	border-radius: $border-radius;
	transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.btn:hover {
	color: #212529;
	text-decoration: none;
}

.btn-dark {
	color: #fff;
	background-color: #343a40;
	border-color: #343a40;
}
.btn-dark:hover {
	color: #fff;
	background-color: #23272b;
	border-color: #1d2124;
}

.block {
    display: block;
    width: 100%;
}

.center {
	display: block;
	margin: auto !important;
}

.text-center {
	text-align: center !important;
}

.middle > * {
	display: inline-block;
	vertical-align: middle;
}

@keyframes btn_clicked {
	0% { transform: scale(1); }
	50% { transform: scale(0.9); }
	100% { transform: scale(1); }
}

.banner {
	padding: 16px 28px;
    color: #fff;
    text-align: center;
    border-radius: $border-radius;
    box-shadow: 0 3px 6px rgb(0 0 0 / 16%), 0 3px 6px rgb(0 0 0 / 23%);
	font-size: 25px;
	font-weight: 500;

	> a {
		margin: -16px -28px;
		padding: 16px 28px;
		display: block;
	}

	a {
		color: #fff;
		text-decoration: underline;
	}

	&.purple {
		background: $blurple;
	}
	
	&.red {
		background: $red;
	}
}

@media (min-width: 1200px) {
	.container {
		max-width: 1400px;
	}
}
   
.container {
	width: 100%;
	padding-right: 15px;
	padding-left: 15px;
	margin-right: auto;
	margin-left: auto;
}