body {
	margin: 0;
}

*,
*::before,
*::after {
	box-sizing: border-box;
	font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans,
		sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
}

a {
	text-decoration: none;

	&:hover {
		text-decoration: underline;
	}
}

.link {
	color: $primary;
}
.link:hover, .link:focus {
	color: $primary-hover;
}

.svelte-fa {
	width: 1em;
}