.background {
	background: #eeede5 url("/images/background/bg_light_background.png") repeat;
}
main {
	background: #eeede5 url("/images/background/bg_light_foreground.png") repeat;
}
.placeholder {
	background-image: url("https://database.faithfulpack.net/images/branding/logos/transparent/512/f32_logo.png"),
		url("/images/background/bg_light_foreground.png");
}
.card {
	background: #eeede5 url("/images/background/bg_light_background.png") repeat;
}
/*#topNavbar.fixed {
	background: #EEEDE5 url("/images/background/bg_light_background.png");
}*/
.navbar, body {
	background: #eeede5 url("/images/background/bg_light_background.png");
}
.outline {
	background: #eeede5 url("/images/background/bg_light_background.png") !important;
}

.dropdown-menu {
	background-color: #fff;
}
.dropdown-item {
	color: #212529;
}
.dropdown-item:focus,
.dropdown-item:hover {
	color: #16181b;
	background-color: #f8f9fa;
}

hr {
	border-top: 1px solid rgba(0, 0, 0, 0.1);
}

input {
	color: #212529;
}

#SearchBar {
	color: #fff;
}

.advice {
	color: #212529;
}
