/* Variables and mixins declared here will be available in all other SCSS files */
$primary: #007bff;
$primary-hover: #0069d9;

$text-dark-bg: #b4b4b4;
$text-half-dark-bg: #b4b4b480;

$blurple: #5865f2;
$red: #f44336;

$border-radius: 6px;

$card-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);

// Extra small devices (phones, 600px and down)
$width-XS: 600px;
// Small devices (portrait tablets and large phones, 768px and down)
$width-S: 768px;
// Medium devices (landscape tablets, 992px and down)
$width-M: 992px;
// Larger devices (small laptops / small desktops, 1200px and down)
$width-L: 1200px;

$small-spacing: 16px;

@mixin noselect {
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

@mixin transparent {
	background: none !important;
	box-shadow: none !important;
	padding: 0 !important;
}