<div class="no-js" id="topCarousel">
  <div class="item">
    <a href="{{ site.baseurl }}/#compliance-32x" title="Compliance">
      <img src="{{ site.baseurl }}/image/icon/compliance_32x.png" style="width: 128px; height: 128px;"
        alt="Compliance 32x">
    </a>
  </div>
  <div class="item">
    <a href="{{ site.baseurl }}/#compliance-64x" title="Compliance 64x">
      <img src="{{ site.baseurl }}/image/icon/compliance_64x.png" style="width: 128px; height: 128px;"
        alt="Compliance 64x">
    </a>
  </div>
  <div class="item">
    <a href="{{ site.baseurl }}/addons" title="Compliance Add-Ons">
      <img src="{{ site.baseurl }}/image/icon/compliance_addons.png" style="width: 128px; height: 128px;"
        alt="Compliance Add-Ons">
    </a>
  </div>
  <div class="item">
    <a href="{{ site.baseurl }}/#compliance-dungeons" rel="noopener" title="Compliance Dungeons">
      <img src="{{ site.baseurl }}/image/icon/compliance_dungeons.png" style="width: 128px; height: 128px;"
        alt="Compliance Dungeons">
    </a>
  </div>
  <div class="item">
    <a href="{{ site.baseurl }}/mods" title="Compliance Mods">
      <img src="{{ site.baseurl }}/image/icon/compliance_mods.png" style="width: 128px; height: 128px;"
        alt="Compliance Mods">
    </a>
  </div>
  <div class="item">
    <a href="https://faithfultweaks.com/" rel="noopener" title="Compliance Tweaks">
      <img src="{{ site.baseurl }}/image/icon/compliance_tweaks.png" style="width: 128px; height: 128px;"
        alt="Compliance Tweaks">
    </a>
  </div>
</div>