<head>
  <meta charset="utf-8">
  <title>Compliance - {{ page.title }}</title>
  <meta name="description"
    content="{% if page.long_text %}{{ page.long_text | strip_html | replace: '"', "'" | truncate: 160 }}{% else %}Compliance, a default-style 32x and 64x resource pack for Minecraft Java, Bedrock, Education and Dungeons.{% endif %}" />
  <meta name="keywords"
    content="Minecraft, Java, Bedrock, Dungeons, Resource, Pack, Resource-Pack, Resourcepack, Compliance, Mods, Faithful, 32x, x32, 32x32, 64x, x64, 64x64">
  <meta name="theme-color" content="#76C945">

  <link rel="icon" href="{{ site.baseurl }}/favicon.ico">
  <link rel="icon" type="image/x-icon" href="{{ site.baseurl }}/favicon.ico" />
  <link rel="shortcut icon" type="image/x-icon" href="{{ site.baseurl }}/favicon.ico" />
  <link rel="apple-touch-icon" href="{{ site.baseurl }}/apple-touch-icon.png" />
  <meta property="og:image"
    content="{% if page.header-img %}{{ site.baseurl }}/image/{{ page.header-img }}{% else %}{{ site.baseurl }}/image/home/og_logo.png{% endif %}" />
  <meta property="twitter:image"
    content="{% if page.header-img %}{{ site.baseurl }}/image/{{ page.header-img }}{% else %}{{ site.baseurl }}/image/home/og_logo.png{% endif %}" />
  <meta name="twitter:card" content="summary_large_image">

  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tiny-slider/2.9.3/tiny-slider.css">
  <link rel="stylesheet" href="{{ site.baseurl }}/css/slider.css">
  <link rel="stylesheet" href="{{ site.baseurl }}/css/main.css">
  <link rel="stylesheet" href="{{ site.baseurl }}/css/dark.css" id="darkcss">

  <script src="https://cdnjs.cloudflare.com/ajax/libs/tiny-slider/2.9.2/min/tiny-slider.js"></script>

  <!-- Font awesome icons -->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css"
    integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">

</head>