---
title: Modpacks
permalink: /modpacks
---

<link rel="stylesheet" href="/css/mods.css">

{% raw %}
<div id="modpacks">
  <!-- !!! HTML cannot use self-closing tags -->
  <broken-page></broken-page>
  <zip-options></zip-options>

  <local-download ref="localDownload" :canPack="true"></local-download>

  <modpack-modal
    id="modpackModal"
    :modpack="currentModpack"
    :modpackmodalopened="modpackModalOpened"
    :onclose="() => { modpackModalOpened = false }"
    :mods="mods"
  >
  </modpack-modal>
    <div class="card mb-4">
      <div class="search-bar-container">
        <input
          id="SearchBar"
          class="fancy-card-1x"
          type="text"
          placeholder="Search for modpacks, modpack version or Minecraft version..."
          title="Type something"
          v-model="form.search"
        >
        <div class="advice">{{ searchAdvice }}</div>
      </div>
    </div>

    <div class="res-grid-4">
      <modpack-card
        v-for="(m, mindex) in filteredModpacks"
        :key="mindex"
        :modpack="m"
        :onbuttonclick="() => { openModpackModal(mindex) }"
      >
      </modpack-card>
    </div>

    <h3 v-if='filteredModpacks.length == 0' id="noresults" class="text-center"></h3>
  </div>
</div>
{% endraw %}

<script defer src="/js/mods/core/MinecraftUtils.js"></script>
<script defer src="https://cdn.jsdelivr.net/npm/idb@6.1.5/build/iife/index-min.js"></script>
<script defer src="https://cdn.jsdelivr.net/npm/moment@2.29.1/moment.min.js"></script>
<script defer src="/js/mods/core/ResourcePackCreator.js"></script>
<script defer src="/js/mods/FileSaver.min.js"></script>
<script defer src="/js/mods/modpacks.js"></script>
