---
layout: default
---

<h2 class="display-4 my-5 text-center">{{ page.title }}</h2>
<p class="card card-body mb-5">
  Add-ons can be placed on top of the main pack to expand and customize it to your liking.
  Check out our awesome collection of add-ons below and fall in love with the endless possibilities.
</p>

<template id="template">
  <div class="card">
    <a class="img-card">
      <img class="fav_img" loading="lazy">
      <h3 class="fav_title"></h3>
    </a>
    <button class="rem-button" type="button"><i class="fas fa-times"></i></button>
  </div>
</template>

<div id="favorites" class="card card-body res-grid-4 mb-5" style="display: none"></div>

<div class="card card-body res-grid-3">
  {% assign sorted_pages = site.pages | sort: "title" %}
  {% for sub_page in sorted_pages %}
    {% if sub_page.path contains page.search_string %}

      <div class="card">
        <a class="img-card" href="{{ site.baseurl }}{{ sub_page.url }}">
          <img src="{{ site.baseurl }}/image/{{ sub_page.header-img }}" alt="{{ sub_page.title }}" loading="lazy">
          <h3>{{ sub_page.title }}</h3>
        </a>
        <button class="fav-button" type="button" onclick="addToFavs('{{ site.baseurl }}/image/{{ sub_page.header-img }}', '{{ sub_page.title }}', '{{ site.baseurl }}{{ sub_page.url }}')"><i class="fas fa-star"></i></button>
      </div>

    {% endif %}
  {% endfor %}
</div>

<script src="{{ site.baseurl }}/js/favorite-addons.js" type="module"></script>
