---
layout: default
---

{%- if page.long_text -%}
	<div class="card">
		<p align="justify">
			{{ page.long_text }}
		</p>
	</div>
{%- endif -%}

<hr>

{%- if page.added -%}
	<h2>Added</h2>

	<div class="card">
		{%- for item in page.added -%}
			<h2><small>{{ item.first | pop}}</h2></small>
			<ul>
				<li>{{ item.first | shift  | join: '</li><li>' }}</li>
			</ul>
		{%- endfor -%}
	</div>

{%- endif -%}

{%- if page.changed -%}
	<h2>Changed</h2>

	<div class="card">
		{%- for item in page.changed -%}
			<h2><small>{{ item.first | pop}}</h2></small>
			<ul>
				<li>{{ item.first | shift  | join: '</li><li>' }}</li>
			</ul>
		{%- endfor -%}
	</div>
{%- endif -%}

{%- if page.fixed -%}
	<h2>Fixed</h2>

	<div class="card">
		{%- for item in page.fixed -%}
			<h2><small>{{ item.first | pop}}</h2></small>
			<ul>
				<li>{{ item.first | shift  | join: '</li><li>' }}</li>
			</ul>
		{%- endfor -%}
	</div>
{%- endif -%}

{%- if page.removed -%}
	<h2>Removed</h2>

	<div class="card">
		{%- for item in page.removed -%}
			<h2><small>{{ item.first | pop}}</h2></small>
			<ul>
				<li>{{ item.first | shift  | join: '</li><li>' }}</li>
			</ul>
		{%- endfor -%}
	</div>
{%- endif -%}