---
layout: default
---

{%- if page.header-img or page.long_text -%}
	<div class="card">
		<div class="card-body">

			{%- if page.header-img -%}
				<img src="{{ site.baseurl }}/image/{{ page.header-img }}" alt="">
			{%- endif -%}

			{%- if page.header-img and page.long_text -%}
				<br>
			{%- endif -%}

			{%- if page.long_text -%}
				<p align="justify">
					{{ page.long_text }}
				</p>
			{%- endif -%}

		</div>
	</div>

	<hr>
{%- endif -%}

{%- if page.added -%}
	
	<h2 class="card-title text-center">Added</h2>

	<div class="card">
		{%- for item in page.added -%}
			<h2><small>{{ item.first | pop}}</h2></small>
			<ul>
				<li>{{ item.first | shift  | join: '</li><li>' }}</li>
			</ul>
		{%- endfor -%}
	</div>

	<hr>

{%- endif -%}

{%- if page.changed -%}

	<h2 class="card-title text-center">Changed</h2>

	<div class="card">
		{%- for item in page.changed -%}
			<h2><small>{{ item.first | pop}}</h2></small>
			<ul>
				<li>{{ item.first | shift  | join: '</li><li>' }}</li>
			</ul>
		{%- endfor -%}
	</div>

	<hr>

{%- endif -%}

{%- if page.fixed -%}

	<h2 class="card-title text-center">Fixed</h2>

	<div class="card">
		{%- for item in page.fixed -%}
			<h2><small>{{ item.first | pop}}</h2></small>
			<ul>
				<li>{{ item.first | shift  | join: '</li><li>' }}</li>
			</ul>
		{%- endfor -%}
	</div>

	<hr>

{%- endif -%}

{%- if page.removed -%}
	<h2 class="card-title text-center">Removed</h2>

	<div class="card">
		{%- for item in page.removed -%}
			<h2><small>{{ item.first | pop}}</h2></small>
			<ul>
				<li>{{ item.first | shift  | join: '</li><li>' }}</li>
			</ul>
		{%- endfor -%}
	</div>

	<hr>
	
{%- endif -%}