---
layout: default
---

{%- if page.header-img -%}
	<img class="img-fluid fancy-card" style="width: 100%;" src="{{ site.baseurl }}/image/{{ page.header-img }}" alt="">
{%- endif -%}

{%- if page.title -%}
	<h2 class="display-3 m-5 text-center">{{ page.title }}</h2>
{%- else -%}
	<h2 class="display-3 m-5 text-center">Unknown Title</h2>
{%- endif -%}

{%- if page.carousel-img -%}
	<!-- {{ page.carousel-img }} -->
	<div class="card">
		<div class="card-body">
			<div id="carousel-img" class="owl-carousel owl-theme">

				{%- for image in site.static_files -%}
					{%- if image.path contains page.carousel-img -%}
						<div class="item">
							<img src="{{ site.baseurl }}{{ image.path }}" class="img-fluid" alt="{{ image.basename }}">
							{%- if page.show_carousel_name == true -%}<h4>{{ image.basename }}</h4>{%- endif -%}
						</div>
					{%- endif -%}
				{%- endfor -%}

			</div>
		</div>
	</div>
	<script>
		$(document).ready(function(){

			$('#carousel-img').owlCarousel({
				loop: true,
				margin: 30,
				nav: false,
				responsiveClass: true,
				autoHeight: true,
				responsive: {
					0: {
						items: 1
					},

					600: {
						items: 2
					},

					1024: {
						items: 3
					},

					1366: {
						items: 3
					}
				}
			});

		});
	</script>
{%- endif -%}

{%- if page.long_text -%}
	{%- if page.header-img -%}
		<hr>
	{%- endif -%}

	<div class="card">
		<div class="card-body">
			<p align="justify">
				{{ page.long_text }}
			</p>
		</div>
	</div>

	<hr>
{%- endif -%}

{%- if page.added -%}

	<h2 class="display-4 m-5 text-center">Added</h2>

	<div class="card">
		{%- for item in page.added -%}
			<h2 class="card-title text-left"><small>{{ item.first | pop}}</h2></small>
			<ul>
				<li>{{ item.first | shift  | join: '</li><li>' }}</li>
			</ul>
		{%- endfor -%}
	</div>

	<hr>

{%- endif -%}

{%- if page.changed -%}

	<h2 class="display-4 m-5 text-center">Changed</h2>

	<div class="card">
		{%- for item in page.changed -%}
			<h2 class="card-title text-left"><small>{{ item.first | pop}}</h2></small>
			<ul>
				<li>{{ item.first | shift  | join: '</li><li>' }}</li>
			</ul>
		{%- endfor -%}
	</div>

	<hr>

{%- endif -%}

{%- if page.fixed -%}

	<h2 class="display-4 m-5 text-center">Fixed</h2>

	<div class="card">
		{%- for item in page.fixed -%}
			<h2 class="card-title text-left"><small>{{ item.first | pop}}</h2></small>
			<ul>
				<li>{{ item.first | shift  | join: '</li><li>' }}</li>
			</ul>
		{%- endfor -%}
	</div>

	<hr>

{%- endif -%}

{%- if page.removed -%}
	<h2 class="display-4 m-5 text-center">Removed</h2>

	<div class="card">
		{%- for item in page.removed -%}
			<h2 class="card-title text-left"><small>{{ item.first | pop}}</h2></small>
			<ul>
				<li>{{ item.first | shift  | join: '</li><li>' }}</li>
			</ul>
		{%- endfor -%}
	</div>

	<hr>

{%- endif -%}

{%- if page.authors -%}

	{%- if page.authors.size > 1 -%}
		<h2 class="display-4 m-5 text-center">Authors</h2>
	{%- else -%}
		<h2 class="display-4 m-5 text-center">Author</h2>
	{%- endif -%}

	<div class="card" style="padding-bottom: 2rem;">
		{% for item in page.authors %}
			<h2 style="margin-bottom: -.5rem;" class="card-title text-left"><a style="color: #fff;" href="{{ item.first | shift  | join: '</li><li>' }}">{{ item.first | pop}}</a></h2>
		{% endfor %}
	</div>

	<hr>

{%- endif -%}

{%- if page.download -%}

	{%- for item in page.download -%}
		<a href="{{ item.first | shift  | join: '</li><li>' }}" class="btn btn-dark btn-lg btn-block">{{ item.first | pop}}</a>
	{%- endfor -%}
{%- endif -%}
