---
layout: compress
---
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>Compliance - {{ page.title }}</title>
	<meta name="description" content="{% if page.long_text %}{{ page.long_text | strip_html | replace: '"', "'" | truncate: 160 }}{% else %}Compliance, a default-style 32x and 64x resource pack for Minecraft Java, Bedrock, Education and Dungeons.{% endif %}" />
	<meta name="keywords" content="Minecraft, Java, Bedrock, Dungeons, Resource, Pack, Resource-Pack, Resourcepack, Compliance, Mods, Faithful, 32x, x32, 32x32, 64x, x64, 64x64">
	<meta name="theme-color" content="#76C945">

	<link rel="icon" href="{{ site.baseurl }}/favicon.ico">
	<link rel="icon" type="image/x-icon" href="{{ site.baseurl }}/favicon.ico" />
	<link rel="shortcut icon" type="image/x-icon" href="{{ site.baseurl }}/favicon.ico" />
	<link rel="apple-touch-icon" href="{{ site.baseurl }}/apple-touch-icon.png"/>
	<meta property="og:image" content="{% if page.header-img %}{{ site.baseurl }}/image/{{ page.header-img }}{% else %}{{ site.baseurl }}/image/home/logo_og.png{% endif %}" />
	<meta property="twitter:image" content="{% if page.header-img %}{{ site.baseurl }}/image/{{ page.header-img }}{% else %}{{ site.baseurl }}/image/home/logo_og.png{% endif %}" />
	<meta name="twitter:card" content="summary_large_image">

	<meta name="viewport" content="width=device-width, initial-scale=1">

	<!--link rel="stylesheet" href="{{ site.baseurl }}/css/owl.carousel.min.css"-->
	<!--link rel="stylesheet" href="{{ site.baseurl }}/css/owl.theme.default.min.css"-->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tiny-slider/2.9.3/tiny-slider.css">
	<link rel="stylesheet" href="{{ site.baseurl }}/css/slider.css">
	<link rel="stylesheet" href="{{ site.baseurl }}/css/main.css">
	<link rel="stylesheet" href="{{ site.baseurl }}/css/dark.css" id="darkcss">

	<!--script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script src="{{ site.baseurl }}/js/owl.carousel.js"></script>
	<script src="{{ site.baseurl }}/js/owl.addons.js" ></script-->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/tiny-slider/2.9.2/min/tiny-slider.js"></script>

	<!-- Font awesome icons -->
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">

</head>

<body class="background">
	<div id="snowflakeContainer">
		<span class="snowflake0"></span>
		<span class="snowflake1"></span>
		<span class="snowflake2"></span>
		<span class="snowflake3"></span>
	</div>

	<header>
		<!-- carousel of other websites -->
		<div id="topCarousel">
			<div class="item">
				<a href="{{ site.baseurl }}/#compliance-32x" title="Compliance">
					<img src="{{ site.baseurl }}/image/icon/compliance_32x.png" style="width: 128px; height: 128px;" alt="Compliance 32x">
				</a>
			</div>
			<div class="item">
				<a href="{{ site.baseurl }}/#compliance-64x" title="Compliance 64x">
					<img src="{{ site.baseurl }}/image/icon/compliance_64x.png" style="width: 128px; height: 128px;" alt="Compliance 64x">
				</a>
			</div>
			<div class="item">
				<a href="{{ site.baseurl }}/addons" title="Compliance Add-Ons">
					<img src="{{ site.baseurl }}/image/icon/compliance_addons.png" style="width: 128px; height: 128px;" alt="Compliance Add-Ons">
				</a>
			</div>
			<div class="item">
				<a href="{{ site.baseurl }}/#compliance-dungeons" rel="noopener" title="Compliance Dungeons">
					<img src="{{ site.baseurl }}/image/icon/compliance_dungeons.png" style="width: 128px; height: 128px;" alt="Compliance Dungeons">
				</a>
			</div>
			<div class="item">
				<a href="{{ site.baseurl }}/mods" title="Compliance Mods">
					<img src="{{ site.baseurl }}/image/icon/compliance_mods.png" style="width: 128px; height: 128px;" alt="Compliance Mods">
				</a>
			</div>
			<div class="item">
				<a href="https://faithfultweaks.com/" rel="noopener" title="Compliance Tweaks">
					<img src="{{ site.baseurl }}/image/icon/compliance_tweaks.png" style="width: 128px; height: 128px;" alt="Compliance Tweaks">
				</a>
			</div>
		</div>

		<noscript>
			<img src="{{ site.baseurl }}/image/icon/compliance_32x.png" class="center" style="width: 128px; height: 128px;" alt="Compliance">
			<p class="banner">
				Please enable JavaScript for menus and carousels to work!
			</p>
		</noscript>

		<!-- navigation bar -->
		<nav class="custom-navbar navbar navbar-expand-sm navbar-dark" id="topNavbar">

			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar" aria-label="Menu">
				<span class="navbar-toggler-icon"></span>
			</button>
			<img src="{{site.baseurl}}/image/home/logo.png" class="custom-navbar-brand" alt="Compliance">

			<div class="collapse navbar-collapse justify-content-center" id="collapsibleNavbar">
				<ul class="navbar-nav">

					<li class="nav-item">
						<a class="nav-link" href="{{ site.baseurl }}/">
							<i style="margin-right: 5px" class="fas fa-home"></i>
							Home
						</a>
					</li>

					<li class="nav-item">
						<a class="nav-link" href="{{ site.baseurl }}/downloads">
							<i style="margin-right: 5px" class="fas fa-angle-double-down"></i>
							Downloads
						</a>
					</li>

					<li class="nav-item">
						<span class="nav-link dropdown-toggle" id="navbardrop" data-toggle="dropdown">
							<i style="margin-right: 5px" class="fas fa-plus"></i>
							Add-Ons
						</span>
						<div class="dropdown-menu dropdown-menu-center">
							<a class="dropdown-item" href="{{ site.baseurl }}/addons32x">Java 32x</a>
							<a class="dropdown-item" href="{{ site.baseurl }}/addons64x">Java 64x</a>
							<a class="dropdown-item" href="{{ site.baseurl }}/addons32xBedrock">Bedrock 32x</a>
							<a class="dropdown-item" href="{{ site.baseurl }}/addons64xBedrock">Bedrock 64x</a>
							<a class="dropdown-item" href="{{ site.baseurl }}/addonCollections">Collections</a>
						</div>
					</li>

          <li class="nav-item">
            <a class="nav-link" href="{{ site.baseurl }}/tweaks">
              <i style="margin-right: 5px" class="fas fa-cog"></i>
              Tweaks
            </a>
          </li>

					<li class="nav-item">
						<span class="nav-link dropdown-toggle" id="navbardrop" data-toggle="dropdown">
							<i style="margin-right: 5px" class="fas fa-wrench"></i>
							Modding
						</span>
						<div class="dropdown-menu dropdown-menu-center">
							<a class="dropdown-item" href="{{ site.baseurl }}/mods">Mods</a>
							<a class="dropdown-item" href="{{ site.baseurl }}/modpacks">Modpacks</a>
							<a class="dropdown-item" href="{{ site.baseurl }}/datapacks">Datapacks</a>
						</div>
					</li>

					<li class="nav-item">
						<a class="nav-link" href="{{ site.baseurl }}/gallery">
							<i style="margin-right: 5px" class="fas fa-image"></i>
							Gallery
						</a>
					</li>

				</ul>
			</div>
		</nav>
	</header>

	<main class="foreground">

		<!-- Page content, centered -->
		<div class="container">
			{{ content }}
		</div>

	</main>

	<footer>
		<!-- navigation bar -->
		<nav class="custom-navbar navbar navbar-expand-sm navbar-dark mb-2" id="bottomNavbar">

			<div>
				<ul class="navbar-nav">

					<li class="nav-item">
						<a class="nav-link" href="{{ site.baseurl }}/license">
							<i style="margin-right: 5px" class="fas fa-gavel"></i>
							License
						</a>
					</li>

					<li class="nav-item">
						<a class="nav-link" href="{{ site.baseurl }}/comments-policy">
							<i style="margin-right: 5px" class="fas fa-scroll"></i>
							Comments Policy
						</a>
					</li>

					<li class="nav-item">
						<a class="nav-link" href="{{ site.baseurl }}/stats">
							<i style="margin-right: 5px" class="fas fa-chart-bar"></i>
							Statistics
						</a>
					</li>

				</ul>
			</div>
			<div>
				<ul class="navbar-nav">

					<li class="nav-item">
						<a class="nav-link" href="https://github.com/Compliance-Resource-Pack" rel="noopener">
							<i style="margin-right: 5px" class="fab fa-github"></i>
							GitHub
						</a>
					</li>

					<li class="nav-item dropup">
						<span class="nav-link dropdown-toggle" id="navbardrop" data-toggle="dropdown">
							<i style="margin-right: 5px" class="fab fa-discord"></i>
							Discord
						</span>
						<div class="dropdown-menu dropdown-menu-center">
							<a class="dropdown-item" href="https://discord.gg/sN9YRQbBv7" rel="noopener">Compliance 32x</a>
							<a class="dropdown-item" href="https://discord.com/invite/Tqtwtgh" rel="noopener">Compliance 64x</a>
							<a class="dropdown-item" href="https://discord.gg/qVeDfZw" rel="noopener">Compliance Add-Ons</a>
							<a class="dropdown-item" href="https://discord.com/invite/QF2CAX7" rel="noopener">Compliance Mods</a>
							<a class="dropdown-item" href="https://discord.gg/6psYdRF" rel="noopener">Compliance Tweaks</a>
							<a class="dropdown-item" href="https://discord.gg/eeVpygu" rel="noopener">Compliance Dungeons</a>
						</div>
					</li>

					<li class="nav-item theme-switch-wrapper">
						<btn id="DarkMode" onclick="changeMod(true)" class="nav-link">
							<i style="margin-right: 5px" class="fas fa-adjust"></i> Auto Theme
						</btn>
					</li>

				</ul>
			</div>
		</nav>
		<p>
			Website made by and for the Compliance Community
		</p>
    <small>CompliPage-{{ site.time | date: "%Y-%m-%d-%H:%M" }}</small>
	</footer>

  <script src="{{ site.baseurl }}/js/defaultFunctionality.js" type="module"></script>
	<script src="{{ site.baseurl }}/js/snow.js" type="module"></script>
	<script src="{{ site.baseurl }}/js/darktheme.js" type="module"></script>
</body>
</html>
