<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>Compliance - {{ page.title }}</title>
	<meta name="description" content="Compliance is a Resource Pack which aims to be faithful to Vanilla textures." />
	<meta name="keywords" content="Minecraft Dungeons, Compliance, Minecraft Java, Minecraft Bedrock, Resource Pack, Mods">
	<meta name="theme-color" content="#654321">

	<link rel="icon" href="{{ site.baseurl }}/favicon.ico">
	<link rel="icon" type="image/x-icon" href="{{ site.baseurl }}/favicon.ico" />
	<link rel="shortcut icon" type="image/x-icon" href="{{ site.baseurl }}/favicon.ico" />
	<link rel="apple-touch-icon" href="{{ site.baseurl }}/apple-touch-icon.png"/>
	<meta property="og:image" content="{{ site.baseurl }}/image/home/logo.png" />
	<meta property="twitter:image" content="{{ site.baseurl }}/image/home/logo.png" />
	<meta name="twitter:card" content="summary_large_image">

	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link rel="stylesheet" href="{{ site.baseurl }}/css/bootstrap.min.css">
	<link rel="stylesheet" href="{{ site.baseurl }}/css/owl.carousel.css">
	<link rel="stylesheet" href="{{ site.baseurl }}/css/owl.theme.default.min.css">
	<link rel="stylesheet" href="{{ site.baseurl }}/css/main.css">

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
	<script src="{{ site.baseurl }}/js/owl.carousel.js"></script>

	<!-- Font is awesome icons -->
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">

</head>

<body class="background-black">

	<header>
		<!-- carousel of others websites -->
		<div id="topCarousel" class="owl-carousel owl-theme background-top">
			<div class="item">
				<a href="https://faithful-dungeons.github.io/Website/" rel="noopener">
					<img src="{{ site.baseurl }}/image/icon/compliance_dungeons.png" style="width: 128px; height: 128px;" class="img-fluid" alt="Compliance Dungeons">
				</a>
			</div>
			<div class="item">
				<a href="https://faithful-mods.github.io/" rel="noopener">
					<img src="{{ site.baseurl }}/image/icon/compliance_mods.png" style="width: 128px; height: 128px;" class="img-fluid" alt="Compliance Mods">
				</a>
			</div>
			<div class="item">
				<a href="https://discord.com/invite/Tqtwtgh" rel="noopener">
					<img src="{{ site.baseurl }}/image/icon/compliance_64x.png" style="width: 128px; height: 128px;" class="img-fluid" alt="Compliance 64x">
				</a>
			</div>
			<div class="item">
				<a href="https://faithfultweaks.com/" rel="noopener">
					<img src="{{ site.baseurl }}/image/icon/compliance_tweaks.png" style="width: 128px; height: 128px;" class="img-fluid" alt="Compliance Tweaks">
				</a>
			</div>
			<div class="item">
				<a href="https://faithful.team/tag/faithful-addons/" rel="noopener">
					<img src="{{ site.baseurl }}/image/icon/compliance_addons.png" style="width: 128px; height: 128px;" class="img-fluid" alt="Compliance Addons">
				</a>
			</div>
		</div>

		<!-- navigation bar -->
		<div class="custom-navbar-wrapper">
			<nav class="custom-navbar navbar navbar-expand-sm navbar-dark">

				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar" aria-label="Menu">
					<span class="navbar-toggler-icon"></span>
				</button>

				<div class="collapse navbar-collapse justify-content-center" id="collapsibleNavbar">
					<ul class="navbar-nav">

						<li class="nav-item">
							<a class="nav-link" href="{{ site.baseurl }}/">
								<i style="margin-right: 5px" class="fas fa-home"></i>
								Home
							</a>
						</li>

						<li class="nav-item">
							<a class="nav-link" href="{{ site.baseurl }}/download">
								<i style="margin-right: 5px" class="fas fa-angle-double-down"></i>
								Downloads
							</a>
						</li>

						<li class="nav-item">
							<a class="nav-link dropdown-toggle" id="navbardrop" data-toggle="dropdown">
								<i style="margin-right: 5px" class="fas fa-image"></i>
								Gallery
							</a>
							<div class="dropdown-menu dropdown-menu-center">
								<a class="dropdown-item" href="{{ site.baseurl }}/galery/compliance32x">Compliance 32x</a>
								<a class="dropdown-item" href="{{ site.baseurl }}/galery/compliance64x">Compliance 64x</a>
								<div class="dropdown-divider"></div>
								<a class="dropdown-item disabled" href="#">Compliance 3D 32x</a>
								<div class="dropdown-divider"></div>
								<a class="dropdown-item" href="https://faithful-dungeons.github.io/Website/gallery">Compliance Dungeons</a>
							</div>
						</li>

						<li class="nav-item">
							<a class="nav-link" href="https://github.com/Compliance-Resource-Pack">
								<i style="margin-right: 5px" class="fab fa-github"></i>
								GitHub
							</a>
						</li>

						<li class="nav-item">
							<a class="nav-link dropdown-toggle" id="navbardrop" data-toggle="dropdown">
								<i style="margin-right: 5px" class="fab fa-discord"></i>
								Discord
							</a>
							<div class="dropdown-menu dropdown-menu-center">
								<a class="dropdown-item" href="https://discord.gg/sN9YRQbBv7">Compliance 32x</a>
								<a class="dropdown-item" href="https://discord.com/invite/Tqtwtgh">Compliance 64x</a>
								<a class="dropdown-item" href="https://discord.gg/qVeDfZw">Compliance Addons</a>
								<a class="dropdown-item" href="https://discord.com/invite/QF2CAX7">Compliance Mods</a>
								<a class="dropdown-item" href="https://discord.gg/6psYdRF">Compliance Tweaks</a>
								<a class="dropdown-item" href="https://discord.gg/eeVpygu">Compliance Dungeons</a>
							</div>
						</li>

					</ul>
				</div>
			</nav>
		</div>
	</header>

	<main class="background-middle">

		<!-- Page content, centered -->
		<div class="container">
			<br>
			{{ content }}
		</div>

	</main>

	<footer>
			<p>Website made by and for the Compliance Community</p>
	</footer>

	<script>
		$('#topCarousel').owlCarousel({
			center: true,
			loop:true,
			autoplay: true,
			lazyLoad: true,
			rewind: true,
			margin: 20,
			responsiveClass: true,
			autoHeight: true,
			autoplayTimeout: 4000,
			smartSpeed: 800,
			responsive: {
				0: {
					items: 1
				},

				600: {
					items: 3
				},

				1024: {
					items: 4
				},

				1366: {
					items: 4
				}
			}
		});

		// fix non centered icons
		document.addEventListener('DOMContentLoaded', function () { window.dispatchEvent(new Event('resize')); })
	</script>

</body>
</html>
