---
layout: compress
---
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="icon" href="{{ site.baseurl }}/favicon.ico">
  <link rel="icon" type="image/x-icon" href="{{ site.baseurl }}/favicon.ico" />
  <link rel="shortcut icon" type="image/x-icon" href="{{ site.baseurl }}/favicon.ico" />
  <link rel="apple-touch-icon" href="{{ site.baseurl }}/apple-touch-icon.png" />
  
  <meta property="og:image" content="{{ site.baseurl }}/image/{{ page.embed-img }}" />
  <meta property="twitter:image" content="{{ site.baseurl }}/image/{{ page.embed-img }}" />
  <meta name="twitter:card" content="summary_large_image">

  <meta name="theme-color" content="{{ page.color }}">
  <meta http-equiv="Refresh" content="0; url={{ page.discord }}">
  <title>Discord - {{ page.title }}</title>
</head>

<script>
  window.location.replace('{{ page.discord }}');
</script>

<body style="background-color: black; color: white">
  <p>If the redirection failed, follow <a href="{{ page.discord }}">this link</a>.</p>
</body>

</html>