<!DOCTYPE html>
<html lang="en">

{%- include head.html -%}

<body class="background-mods">

	{%- include header.html -%}

	<main class="background-mods-middle">

		<!-- Page content, centered -->
		<div class="container">
			<br>
			{{ content }}
			<br>
		</div>

	</main>

	{%- include footer.html -%}

	<script>
		$('#topCarousel').owlCarousel({
			center: true,
			loop:true,
			autoplay: true,
			lazyLoad: true,
			rewind: true,
			margin: 20,
			responsiveClass: true,
			autoHeight: true,
			autoplayTimeout: 4000,
			smartSpeed: 800,
			responsive: {
				0: {
					items: 1
				},

				600: {
					items: 3
				},

				1024: {
					items: 4
				},

				1366: {
					items: 4
				}
			},
      onInitialized: addDotButtonLabel
		});

		// fix non centered icons
		document.addEventListener('DOMContentLoaded', function () { window.dispatchEvent(new Event('resize')); })
	</script>
  <script id="dsq-count-scr" src="//compliance-1.disqus.com/count.js" async></script>
</body>
</html>