{%- if page.banner -%}
<div class="hero">
	<div class="container">
		<img class="wordmark" src="{{ page.wordmark }}">
	</div>
</div>
{%- endif -%}

<div class="container">
	{%- if page.text -%}
		<div class="card card-body">
			<p class="h4 m-0">
				{{ page.text }}
			</p>
			{%- if page.buttons -%}
				<div class="button-row">
				{%- for button in page.buttons -%}
					<a class="btn btn-dark" href="{{ button.href }}">{{ button.text }}</a>
				{%- endfor -%}
				</div>
			{%- endif -%}
		</div>

		<hr>
	{%- endif -%}

	<!-- TODO: move packs that require this feature to the real downloads page -->
	{%- if page.downloads -%}
	{%- include article_download.html downloads=page.downloads -%}
	{%- endif -%}
</div>

<style>
	.hero {
		display: block;
		background-image: url("{{ page.banner }}");
		background-size: cover;
		background-position: center;
		padding: 0 2rem 1px;
		text-align: center;
	}

	.wordmark {
		padding: 5vw;
		filter: drop-shadow(0 0 10px #000);
		width: 800px;
	}
</style>