---
layout: default
---

{%- if page.title -%}
	<h2 class="display-3 my-5 text-center">{{ page.title }}</h2>
{%- else -%}
	<h2 class="display-3 my-5 text-center">Unknown Title</h2>
{%- endif -%}

{%- if page.authors -%}
	<h3 class="display my-5 text-center">
		By&nbsp;
		{%- assign author_nb = page.authors.size -%}
		{% for author in page.authors %}
			{%- assign author_nb = author_nb | minus: 1 -%}

			{% if author.first %}
				{%- if author_nb != 0 -%}
					<a href="{{ author.first | shift }}">{{ author.first | pop }}</a>,
				{%- else -%}
					<a href="{{ author.first | shift }}">{{ author.first | pop }}</a>
				{%- endif -%}
			{% else %}
				{%- if author_nb != 0 -%}
					{{ author }},
				{%- else -%}
					{{ author }}
				{%- endif -%}
			{% endif %}
		{% endfor %}
	</h3>
{%- endif -%}

{%- if page.header-img -%}
	<img class="fancy-card-2x" style="width: 100%;" src="{{ site.baseurl }}/image/{{ page.header-img }}" alt="">
	<br>
{%- endif -%}

	<br>

{%- if page.carousel-img -%}
	<!-- {{ page.carousel-img }} -->
	<div class="card card-body">
		<div id="carousel-img">

			{%- for image in site.static_files -%}
				{%- if image.path contains page.carousel-img -%}
					<div class="item">
						<img onclick="ShowFullscreen('{{ site.baseurl }}{{ image.path }}')" id="{{ image.basename | replace: " ", "_" }}" src="{{ site.baseurl }}{{ image.path }}" alt="{{ image.basename }}">
						{%- if page.show_carousel_name == true -%}<h4>{{ image.basename }}</h4>{%- endif -%}
					</div>
				{%- endif -%}
			{%- endfor -%}

		</div>
	</div>

	<hr>

	<div id="SF" class="modal">
		<span id="SF-Span" class="close">&times;</span>
		<img  id="SF-Img"  class="modal-content">
	</div>

	<script>
		function ShowFullscreen(img_path){
			var modal = document.getElementById('SF')

			modal.style.display = 'block'

			// close modal:
			var span = document.getElementById('SF-Span')
			span.onclick = () => {
				modal.style.display = 'none';
			}
			// when pressing escape key:
			document.addEventListener('keydown', event => {
				if (event.keyCode == 27) modal.style.display = 'none'
			})

			// set img in modal:
			var img = document.getElementById('SF-Img')
			img.src = img_path
		}

		document.addEventListener('DOMContentLoaded', () => {
			tns({
			  container: '#carousel-img',
			  controls: false,
			  navPosition: 'bottom',
			  mouseDrag: true,
				gutter: 20,
				responsive: {
					0: { items: 1 },
					600: { items: 2 },
					1024: { items: 3 }
				}
			})
		})
	</script>
{%- endif -%}

{%- if page.long_text -%}
	<div class="card card-body">
		<p class="h2 m-0" align="justify">
			{{ page.long_text }}
		</p>
	</div>

	<hr>
{%- endif -%}

{%- if page.downloads -%}
	<h2 class="display-4 my-5 text-center">Downloads</h2>
	{%- for item in page.downloads -%}
		<h1 class="my-3" align="center">{{ item.first | pop }}</h1>
		{%- for subitem in item -%}
			<p align="center">
				{%- if subitem[1]["GitHub"] -%}<a href="{{ subitem[1]["GitHub"] }}" class="btn block btn-lg btn-primary"><i style="margin-right: 10px" class="fab fa-github"></i>GitHub</a>&nbsp;{%- endif -%}
				{%- if subitem[1]["CurseForge"] -%}<a href="{{ subitem[1]["CurseForge"] }}" class="btn block btn-lg btn-primary"><i style="margin-right: 10px" class="fas fa-fire"></i>CurseForge</a>{%- endif -%}
			</p>
		{%- endfor -%}
		<br>
	{%- endfor -%}
{%- endif -%}

{%- if page.download -%}
	{%- if page.download.size > 1 -%}
		<h2 class="display-4 my-5 text-center">Downloads</h2>
	{%- else -%}
		<h2 class="display-4 my-5 text-center">Download</h2>
	{%- endif -%}
	{%- for item in page.download -%}
		<a href="{{ item.first | shift  | join: '</li><li>' }}" class="btn block btn-lg btn-primary fancy-card-2x my-3"><i style="margin-right: 5px" class="fas fa-download"></i>{{ item.first | pop}}</a>
	{%- endfor -%}
{%- endif -%}

{%- if page.main_changelog -%}
	<script>
		function ShowAll() {
		 	var old = document.getElementById('old');
		  var btn = document.getElementById('old-btn');

	    if ( old.style.display == 'none' ){
	      old.style.display = 'block';
	      btn.innerHTML = 'Hide';
	    } else {
	      old.style.display = 'none';
	      btn.innerHTML = 'All';
	    }
	  }

		fetch('{{ site.baseurl }}/{{ page.main_changelog }}')
		  .then(response => {
		    return response.text()
		  })
		  .then(body => {
		    document.querySelector('#changelog').innerHTML = body
		  })
	</script>
	<div id='changelog'></div>
{%- endif -%}

{%- if page.changelog -%}
	{%- include changelog.html -%}
{%- endif -%}

{%- if page.comments == true -%}
  <hr>
	<h2 class="display-4 my-5 text-center">Comments</h2>
	<div id="disqus_thread" class="card card-body"></div>
	<script>

		/*
		 *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
		 *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables
		 */

		var disqus_config = function () {
		this.page.url = 'https://compliancepack.net/{{ page.url }}'; // Replace PAGE_URL with your page's canonical URL variable
		this.page.identifier = '{{ page.comments-id }}'; 	// Replace PAGE_IDENTIFIER with your page's unique identifier variable
		};

		(function() { 																	// DON'T EDIT BELOW THIS LINE
		var d = document, s = d.createElement('script');
		s.src = 'https://compliance-2.disqus.com/embed.js';
		s.setAttribute('data-timestamp', +new Date());
		(d.head || d.body).appendChild(s);
		})();
	</script>
	<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="noopener">comments powered by Disqus.</a></noscript>
{%- endif -%}
