@use "./lib/variables" as *;

// force lower specificity so page-specific styles don't break
:where(.dark-theme) {
	.background {
		background: $bg-dark url("/image/background/bg_dark_background.png") repeat;
	}
	.foreground {
		background: $fg-dark url("/image/background/bg_dark_foreground.png") repeat;
	}
	.card, .download-table-padding, header {
		background: $bg-dark url("/image/background/bg_dark_background.png") repeat;
	}

	.v-chip--variant-elevated, .v-card--variant-elevated {
		background: $bg-dark url("/image/background/bg_dark_background.png") repeat !important;
	}

	.v-expansion-panels--variant-accordion * {
		background: $bg-dark !important;
	}

	ul, ol, li, h1, h2, h3, h4, h5, h6, p, .v-expansion-panel-title__icon {
		color: $translucent-white-high;
		text-decoration-color: currentColor;
	}

	.underline-hover:hover {
		text-decoration-color: $translucent-white-high !important;
	}

	// fixes dropdown select color (it's always light mode otherwise)
	.v-input__control {
		color: white !important;
	}

	// about page stuff
	.about-button {
		background: white !important;
		color: black;
	}

	.green-background,
	.blue-background,
	.pink-background,
	.orange-background,
	.yellow-background {
		background: $bg-light url("/image/background/bg_light_background.png") repeat;
		background-blend-mode: screen;
	}

	// no background
	.colored-title {
		color: $translucent-white-highest;
	}

	.green-background .colored-title {
		color: $fg-green !important;
	}

	.blue-background .colored-title {
		color: $fg-blue !important;
	}

	.pink-background .colored-title {
		color: $fg-pink !important;
	}

	.yellow-background .colored-title {
		color: $fg-yellow !important;
	}

	.orange-background .colored-title {
		color: $fg-orange !important;
	}
}
