@use "./variables" as *;

// force lower specificity so page-specific styles don't break
:where(.dark-theme) {
	.textured {
		background: $bg-dark-textured;
	}

	.accent-textured, .card {
		background: $bg-dark-accent-textured;
	}

	// there's got to be a better way to do this
	.accent-textured .v-chip--variant-elevated,
	.accent-textured .v-card--variant-elevated,
	.accent-textured .v-btn--variant-elevated,
	.accent-textured.v-chip--variant-elevated,
	.accent-textured.v-card--variant-elevated,
	.accent-textured.v-btn--variant-elevated {
		background: $bg-dark-accent-textured !important;
	}

	.v-skeleton-loader__image {
		background: $bg-dark !important;
	}

	.v-expansion-panels--variant-accordion * {
		background: $bg-dark-accent !important;
	}

	td, ul, ol, li, h3, h4, h5, h6, p, .v-expansion-panel-title__icon {
		color: $text-dark;
		text-decoration-color: currentColor;
	}

	h1, h2 {
		color: $title-dark;
	}

	.navigation-link, .footer-info-text, .user-media-icon {
		color: $text-dark;
	}

	.navigation-link:hover, .navigation-link:focus, .user-media-icon:hover, .user-media-icon:focus {
		color: $title-dark;
	}

	.underline-hover:hover {
		text-decoration-color: $text-dark !important;
	}

	.card, .card p,
	.card > h2 > a,
	.card-text {
		color: $text-dark;
	}
	.card > h2 > a:hover,
	.card h1, .card h2 {
		color: $title-dark;
	}

	// fixes dropdown select color (it's always light mode otherwise)
	.v-input__control {
		color: white !important;
	}

	.author-widget:hover {
		background: rgba($title-dark, 0.1);
	}

	// about page stuff
	.about-button {
		background: white !important;
		color: black;
	}

	.green-background,
	.blue-background,
	.pink-background,
	.orange-background,
	.yellow-background {
		background: $bg-dark $bg-dark-url repeat;
		background-blend-mode: screen;
	}

	// no background
	.colored-title {
		color: white;
	}

	.green-background .colored-title {
		color: $text-green !important;
	}

	.blue-background .colored-title {
		color: $text-blue !important;
	}

	.pink-background .colored-title {
		color: $text-pink !important;
	}

	.yellow-background .colored-title {
		color: $text-yellow !important;
	}

	.orange-background .colored-title {
		color: $text-orange !important;
	}
}
