@use "./lib/variables" as *;

// force lower specificity so page-specific styles don't break
:where(.dark-theme) {
	.textured {
		background: $bg-dark-textured;
	}

	.accent-textured, .card {
		background: $bg-dark-accent-textured;
	}

	.v-chip--variant-elevated, .v-card--variant-elevated {
		background: $bg-dark-accent-textured !important;
	}

	.v-expansion-panels--variant-accordion * {
		background: $bg-dark-accent !important;
	}

	ul, ol, li, h1, h2, h3, h4, h5, h6, p, .v-expansion-panel-title__icon {
		color: $text-dark;
		text-decoration-color: currentColor;
	}

	.underline-hover:hover {
		text-decoration-color: $text-dark !important;
	}

	// fixes dropdown select color (it's always light mode otherwise)
	.v-input__control {
		color: white !important;
	}

	// about page stuff
	.about-button {
		background: white !important;
		color: black;
	}

	.green-background,
	.blue-background,
	.pink-background,
	.orange-background,
	.yellow-background {
		// this is a bit strange but looks the best of all the combinations
		background: $bg-dark-accent $bg-light-accent-url repeat;
		background-blend-mode: screen;
	}

	// no background
	.colored-title {
		color: white;
	}

	.green-background .colored-title {
		color: $text-green !important;
	}

	.blue-background .colored-title {
		color: $text-blue !important;
	}

	.pink-background .colored-title {
		color: $text-pink !important;
	}

	.yellow-background .colored-title {
		color: $text-yellow !important;
	}

	.orange-background .colored-title {
		color: $text-orange !important;
	}
}
