@use "./lib/variables" as *;

$end: #120E19;

.error-theme {
	h1, p {
		color: $primary-text;
	}
	.site-container {
		background: $end url("/image/background/the_end.jpg") no-repeat center;
	}
	.background, .foreground {
		background: transparent;
	}
	header {
		box-shadow: none !important;
		background: none !important;
	}
	// fix for tnt showing too high
	.container {
		padding-bottom: 0px;
	}
}
