@use "./variables" as *;

// force lower specificity so page-specific styles don't break
:where(.light-theme) {
	.textured {
		background: $bg-light-textured;
	}

	.accent-textured, .card {
		background: $bg-light-accent-textured;
	}

	.accent-textured .v-chip--variant-elevated,
	.accent-textured .v-card--variant-elevated,
	.accent-textured .v-btn--variant-elevated,
	.accent-textured.v-chip--variant-elevated,
	.accent-textured.v-card--variant-elevated,
	.accent-textured.v-btn--variant-elevated {
		background: $bg-light-accent-textured !important;
	}

	.v-skeleton-loader__image {
		background: $bg-light !important;
	}

	.card, .card p,
	.card > h2 > a,
	.card-text {
		color: $text-light;
	}
	.card > h2 > a:hover,
	.card h1, .card h2 {
		color: $title-light;
	}

	h1, h2 {
		color: $title-light;
	}

	.author-widget:hover {
		background: rgba($title-light, 0.1);
	}

	// about page stuff
	.about-button {
		background: black;
		color: white;
		&:hover {
			// dark preserves blue hover effect, override it here
			color: white !important;
		}
	}

	.green-background,
	.blue-background,
	.pink-background,
	.yellow-background,
	.orange-background {
		background-blend-mode: multiply;
		// only use white with a colored background, else use normal text color
		.colored-title {
			color: white;
		}
	}

	.green-background {
		background: $bg-green $bg-light-url repeat !important;
	}

	.blue-background {
		background: $bg-blue $bg-light-url repeat !important;
	}

	.pink-background {
		background: $bg-pink $bg-light-url repeat !important;
	}

	.yellow-background {
		background: $bg-yellow $bg-light-url repeat !important;
	}

	.orange-background {
		background: $bg-orange $bg-light-url repeat !important;
	}
}
