@use "./variables" as *;

.light-theme {
	.textured {
		background: $bg-light-textured;
	}

	.accent-textured, .card {
		background: $bg-light-accent-textured;
	}

	// there's got to be a better way to do this
	.accent-textured .v-chip--variant-elevated,
	.accent-textured .v-card--variant-elevated,
	.accent-textured .v-btn--variant-elevated,
	.accent-textured.v-chip--variant-elevated,
	.accent-textured.v-card--variant-elevated,
	.accent-textured.v-btn--variant-elevated {
		background: $bg-light-accent-textured;
	}

	// card color
	.v-skeleton-loader__image {
		background: $bg-light-accent;
	}

	// about page stuff
	.btn-about {
		background: black;
		color: white;
		&:hover {
			// dark preserves blue hover effect, override it here
			color: white !important;
		}
	}

	.green-background,
	.blue-background,
	.pink-background,
	.yellow-background,
	.orange-background {
		background-blend-mode: multiply;
		// only use white with a colored background, else use normal text color
		.colored-title {
			color: white;
		}
	}

	.green-background {
		background: $bg-green $bg-light-url repeat;
	}

	.blue-background {
		background: $bg-blue $bg-light-url repeat;
	}

	.pink-background {
		background: $bg-pink $bg-light-url repeat;
	}

	.yellow-background {
		background: $bg-yellow $bg-light-url repeat;
	}

	.orange-background {
		background: $bg-orange $bg-light-url repeat;
	}
}
