@use "./lib/variables" as *;

// force lower specificity so page-specific styles don't break
:where(.light-theme) {
	.background {
		background: #303030 url("/image/background/bg_light_background.png") repeat;
	}
	.foreground {
		background: #e5e5e5 url("/image/background/bg_light_foreground.png") repeat;
	}
	.card, .download-table-padding, header {
		background: #303030 url("/image/background/bg_light_background.png") repeat;
	}

	.v-chip--variant-elevated {
		background: #303030 url("/image/background/bg_light_background.png") repeat !important;
	}

	// about page stuff
	.about-button {
		background: black;
		color: white;
		&:hover {
			// dark preserves blue hover effect, override it here
			color: white !important;
		}
	}

	.green-background,
	.blue-background,
	.pink-background,
	.yellow-background,
	.orange-background {
		background-blend-mode: multiply;
		// only use white with a colored background, else use normal text color
		.colored-title {
			color: #fff;
		}
	}

	.green-background {
		background: $bg-green url("/image/background/bg_light_foreground.png") repeat !important;
	}

	.blue-background {
		background: $bg-blue url("/image/background/bg_light_foreground.png") repeat !important;
	}

	.pink-background {
		background: $bg-pink url("/image/background/bg_light_foreground.png") repeat !important;
	}

	.yellow-background {
		background: $bg-yellow url("/image/background/bg_light_foreground.png") repeat !important;
	}

	.orange-background {
		background: $bg-orange url("/image/background/bg_light_foreground.png") repeat !important;
	}
}
