name: Deploy Website

on:
#   push:
#     branches: [ master ]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Executing remote command
      uses: appleboy/ssh-action@master
      with:
        host: ${{ secrets.HOST }}
        USERNAME: ${{ secrets.USERNAME }}
        PORT: ${{ secrets.PORT }}
        KEY: ${{ secrets.SSH }}
        script: |
          rm -rf /tmp/jekyll-*
          TMP_DIR=$(mktemp -d -t jekyll-XXXXXX)
          cd "$TMP_DIR"
          git init
          git remote add origin https://github.com/${{ github.repository }}.git
          git pull origin master
          bundle exec jekyll build
          rsync -av ./_site/ ${{ secrets.USERNAME }}/Website/
