name: Deploy Website

on:
  push:
    branches: [ main ]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - name: Executing remote command
      uses: appleboy/ssh-action@master
      with:
        host: ${{ secrets.VPS_HOST_IP }}
        PORT: ${{ secrets.VPS_PORT }}
        USERNAME: ${{ secrets.VPS_USERNAME }}
        KEY: ${{ secrets.VPS_SSH_KEY }}
        # reload dependencies, build nuxt files, start server
        script: |
          cd /var/www/html/faithfulpack.net
          git stash
          git pull
          pnpm install
          pnpm run build
          pm2 restart "website"
    - name: Purge Cloudflare cache
      run: "curl https://api.faithfulpack.net/v2/cloudflare/purge -H 'cloudflare: ${{ secrets.PURGE_PASSWORD }}'"
